//------------------
// App-wide Styling
// version 2.2.3
//------------------
*,
*:before,
*:after
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	margin 0
	padding 0
	
html
	background White
	FiraSans-5(16px, 500, Black, -1px, left)

h1
	FiraSans-5(3rem, 700, White, -0.05em, center)	
	line-height 3rem

h2
	FiraSans-5(1.75rem, 700, Black, -0.05em, left)
	line-height 1.5rem
	
h3
	FiraSans-5(1.5rem, 400, Black, 0em, left)
	line-height 1.5rem

h4
	FiraSans-5(1.25rem, 200, Gray, 0em, left)
		
p
	FiraSans-5(1rem, 200, Black, 0.03125em, justify)
	
a
	color Red
	font-weight 400
	text-decoration none
	&:hover,
	&:active
		text-decoration underline
	&:active
		color Dark
		
img
	&.landscape
		height auto
		width 100%
	&.portrait
		height 100%
		width auto





//------------------
//- Top of the Page
//------------------
#site-title
	background Black
	color White
	Width-XS(12)

.site-title
	Width-XS(12)
	Width-SM(6)
	padding-left 0
	padding-right 0
	h1
		display block
	.subtitle
		FiraSans-5(0.75rem, 200, Red, 0.14em, center)
		line-height 0.75rem
		text-transform uppercase
		display block
		left 4px
		padding-top 0
		
nav
	Width-XS(12)
	Width-SM(6)
	background Black
	color White
	ul
		Width-XS(12)
		display table
	li
		text-align center
		display table-cell
	a
		FiraSans-5(1rem, 200, Light, 0.111111em, left)
		text-transform uppercase
		padding 15px





//--------------------
// Bottom of the Page
//--------------------
#site-footer
	background Black
	
	&>*:first-child
		margin 0 auto

	p
		color Gray !important
		text-align center
	padding 50px 12.5%
	font-size 10px
	.updated
		margin-top 10px
		text-align center





//----------------------
//- Reusable Components
//- Should have a matching Jade Mixin
//----------------------
#social-media
	InlineChildren()
	li
		&:first-child a
			padding-left 0
		a
			color Red
			padding 0 20px
			&:hover i
				color Black
			i 
				font-size 1.75em

.skills
	list-style-type none
	.skill
		display inline-block

.skill
	background Red
	text-align center
	padding 0.25em 1em
	color White
	border-radius 0.5em
	cursor default
	
.clearfix
	clear both
	
// needs Jade Mixin
.button
	FiraSans-5(1.25rem, 400, Red, auto, center)
	Width-XS(12)
	Width-SM(10)
	Width-MD(8)
	Width-LG(6)
	border 1px solid Red
	display block
	margin-top 10px
	margin-bottom 10px
	text-decoration none
	&:hover
		background Red
		color White
		text-decoration none
