

// Grayscale ( 0 (dark) ---> 1 (light) )
$white-3 = white3 = #fafafa
$white-2 = white2 = #eeeeee
$white-1 = white1 = #d8d8d8
$white-0 = white0 = #bcbcbc
$gray-3 = gray3 = #ababab
$gray-2 = gray2 = #979797
$gray-1 = gray1 = #888686
$gray-0 = gray0 = #666666
$black-3 = black3 = #575452
$black-2 = black2 = #3D3C3C
$black-1 = black1 = #353434
$black-0 = black0 = #171413

// Resume Color Palette

// Black 
Black = #292929

// Blue
Blue = #23607A

// Red
Red = #A63F29

// Yellow
Yellow = #E5C41E

// White 
White = #F8F7F5