// Grayscale ( 0 (dark) ---> 1 (light) )
$white-3 = #fafafa
$white-2 = #eeeeee
$white-1 = #d8d8d8
$white-0 = #bcbcbc
$gray-3 = #ababab
$gray-2 = #979797
$gray-1 = #888686
$gray-0 = #666666
$black-3 = #575452
$black-2 = #3D3C3C
$black-1 = #353434
$black-0 = #171413

// Resume Color Palette
$lite = #F8F6E6
$gold = #FFEEAA
$pink = #FF7861
$blue = #425B66
$dark = #303030

$red = #B0282F