//- Color Guide
//- version 2.0.0

// Grayscale ( 0 (dark) ---> 3 (light) )
white3 = #fafafa
white2 = #eeeeee
white1 = #d8d8d8
white0 = #bcbcbc
gray3 = #ababab
gray2 = #979797
gray1 = #888686
gray0 = #666666
black3 = #575452
black2 = #3D3C3C
black1 = #353434
black0 = #171413

// Resume Color Palette

// Black 
White = #FAFAFA
Light = #DDDDDD
Gray = #909090
Dark = #555555
Black = #303030

// Red
Red = #B8432A



// Blue
// Blue = #23607A



// Yellow
// Yellow = #E5C41E

// White 
