//- app/index.styl (ALIAS app.styl)
//- version 1.4.1

@import 'color'
@import 'font'
@import 'mixin'
@import 'util'

@import 'sidebar'



html
	background White
	FiraSans-5(16px, 500, $black-2, -1px, left)

h2
	FiraSans-5(4em, 700, Black, -3px, left)
	line-height 1em
	
h3
	FiraSans-5(2em, 200, Black, 0px, left)

h4
	FiraSans-5(1.3em, 200, gray3, 0px, left)
	
p
	FiraSans-5(16px, 200, Black, 0px, left)
	
a:link,
a:visited
	FiraSans-5(16px, 400, Red, 0px, left)
	text-decoration none
	
a:hover,
a:active
	text-decoration underline

section
	padding 20px 30px	

aside
	// background gray3
	padding 10px 30px
	position relative
	width 40%
	float right
	border-left 1px white1 solid
	border-bottom 1px white1 solid

	
li
	list-style circle inside


	
section.title
	background Red
	float left
	width 100%
	padding 2% 3%
	// overflow hidden
	
	h2
		// padding 2% 3%
		color White
		
section.subtitle
	background Black
	color White
	float left
	width 100%
	padding 0
	min-height 10px
	// height 50px
	
	
	&>*
		display inline-block
		padding 8px 15px
		border-left 1px black2 solid
		border-right 1px black2 solid
		
		
section.content
	background White
	color Black
	float left
	width 60%
	// padding 2% 3%
	
	.column
		float left
		margin-right 50px

section.projects
	width 100%
	float left

	

	
.view
	position relative
	padding-left 200px
					
.mainpage
	position relative
	// padding 2% 3%
	z-index 0



.sidebar
	position fixed
	width 200px
	height 100vh
	background Black
	color White
	z-index 50
	
	header
		position relative
		height 84px
		background Red
		StandardPadding()
		
		h1
			VerticalAlign()
			FiraSans-5(30px, 700, White, -1px, left)
			line-height 30px
	
	li
		width 100%
		StandardPadding()
		list-style disc outside		
		
	
		
	.contact
		li
			.icon
				display inline
				float left
			.value
				FiraSans-5(12px, 200, White, 1px, left)
				display inline
				float right
				
	.feature
		background black2
		a
			FiraSans-5(18px, 400, White, -1px, left)
			text-decoration none
			color White
		
	.overview
		a
			FiraSans-5(14px, 200, White, 1px, left)
			text-transform uppercase
			text-decoration none
			color White
			
li.project
	list-style-type none
	background White
	
	border-bottom 1px white0 solid
	padding 10px 30px
	
	&:first-child
		border-top 1px white0 solid
	
	li.skill-s
		FiraSans-5(12px, 700, White, 1px, left)
		list-style-type none
		color Red
	
	h3
		color Black
		// padding 8px 15px	
		


// html{
// 	@include FiraSans-5(16px, 500, $white-3, -1px, left);
// 	@include Gradient-0-62-100($black-0, $black-1);
// }

// .none { 
// 	display: none !important; 
// 	* {
// 		display: none !important;
// 	}
// }

// .main-page {
// 	width: $std-wrapper-width;
// 	margin: 0 auto;}

// .box {
// 	float: left;
// 	display: inline-block;
// 	position: relative;
// }

// .value {
// 	@include FiraSans-5(1.5rem, 700, $white-2, -1px, left);
// 	@include TextShadow;

// 	&.large {
// 		font-size: 2.5rem;
// 		line-height: 2.5rem;
// 	}
// }

// .label {
// 	@include FiraSans-5(1rem, 400, $white-0, 1.5px, left);
// 	@include TextShadow;
// 	text-transform: uppercase;
// }

// a {
// 	text-decoration: none;
// 	@include FiraSans-5(1rem, 400, $black-3, 1px, left);

// 	&:hover{
// 		text-decoration: underline;
// 	}
// }

// h1 {
// 	@include FiraSans-5(7rem, 700, $white-3, -2px, left);
// 	text-shadow: 5px 5px 1px rgba(black, 0.1);
// }

// h2 {
// 	@include FiraSans-5(4.5rem, 700, $white-3, -2px, left);
// 	@include TextShadow;
// }

// h3 {
// 	@include FiraSans-5(1.8rem, 200, $gray-0, -2px, left);
// }

// nav {
// 	background: $black-1;
// 	width: 100%;

// 	ul {
// 		list-style-type: none;
// 		text-align: center;

// 		li {
// 			display: inline-block;
// 			padding: 10px 20px;
// 			margin: 0 50px;

// 			a {
// 				@include FiraSans-5(1rem, 800, $gray-3, 0px, center);
// 				padding: 5px;
// 				text-decoration: none;
// 				text-transform: uppercase;
// 				&:hover {
// 					color: $white-3;
// 				}
// 			}
// 		}
// 	}

// 	.menu {
// 		height: 100%;
// 		display: none;

// 		a {
// 			display: inline-block;
// 		}

// 		.home:hover & {

// 		}
// 	}
// }

// section {
// 	position: relative;
// 	float: left;
// 	width: 100%;

// 	header {
// 		width: 100%;
// 		padding: 10px 20px;
// 	}
// }

// header.section {
// 	@include Gradient-0-62-100($white-2, $white-3);

// 	h3 {
// 		@include FiraSans-5(2rem, 400, $gray-0, -2px, left);
// 	}
// }

// section.admin {
// 	background: #a42028;
// 	border: 3px solid darken(#a42028, 10%);

// 	h3 {
// 		color: $white-0; }

// 	.box {
// 		display: inline-block;
// 		margin-right: 50px; }
// }

// section.title {
// 	$root-z-index: 0;
// 	z-index: $root-z-index;
// 	position: relative;
// 	height: 400px;

// 	canvas { z-index: $root-z-index + 1; }
	
// 	header {
// 		display: inline-block;
// 		position: relative;
// 		width: 100%;
// 		z-index: $root-z-index + 2;

// 		* { display: inline-block; }
// 		h2 { margin-right: 30px; }
// 		.detail {
// 			position: relative;
// 			width: 100%;
// 			height: 30px;
// 			left: 3px;
// 			top: -5px;
// 		}
// 		.skill-tag {
// 			margin: 0 20px;
// 			position: relative;
// 			top: -5px;
// 		}

// 		.label {
// 			font-size: 1.5rem;
// 			color: $white-2;
// 		}
// 	}

	
// }

// section.subtitle {
// 	padding: 0;
// 	@include Gradient-0-62-100($black-2, $black-3);

// 	.box {
// 		border-right: 1px solid $black-3;
// 		height: 100%;
// 		padding: 10px 20px;
// 	}	

// 	a {
// 		@include FiraSans-5(1.5rem, 400, $white-2, 0px, left);
// 		&:hover { color: $white-3; }
// 	}

// 	.momentum.box {
// 		float: right;
// 		width: 18%;
// 		padding: 7px 20px;
// 		.value, .label {
// 			text-align: center;
// 		}
// 	}
// }

// section.events {
// 	background: $white-2;
// 	float: left;
// }

// APP-WIDE MODEL REPRESENTATIONS
// version 1.0.0

//
// SKILLS
//

// ul.skill {
// 	position: relative;
// 	width: 100%;
// }

// li.skill {
// 	position: relative;
// 	list-style-type: none;
// 	width: 100%;
// 	float: left;
// 	cursor: pointer;

// 	&:hover{
// 		background: red;
// 	}

// 	.box {
// 		float: right;
// 		position: relative;
// 		height: 100%;
// 		padding: 5px 10px;
// 	}

// 	.title {
// 		@include FiraSans-5(2em, 400, $white-2, -1px, left);
// 		@include TextShadow;
// 		padding: 0.25em 0.5em;
// 		float: left;
// 	}

// 	.value {
// 		@include FiraSans-5(2em, 400, $white-2, -1px, left);
// 		@include TextShadow;
// 		display: inline-block;
// 		text-align: center;
// 		width: 100%;
// 	}

// 	.label {
// 		@include FiraSans-5(0.7em, 400, $gray-0, 1.5px, center);
// 	}

// 	.arrow {
// 		position: absolute;
// 		right: 0.5em;
// 		top: 40%;
// 		-webkit-transform: translateY(-50%);
// 		transform: translateY(-50%);
// 	}
// }

// //
// // PROJECTS
// //

// ul.project {
// 	// DEBUG
// 	background: yellow;
// 	// -----
// 	position: relative;
// 	width: 100%;

// }

// li.project {
// 	$root-z-index: 0;
// 	position: relative;
// 	list-style-type: none;
// 	height: 200px;
// 	width: 100%;
// 	float: left;
// 	cursor: pointer;
// 	overflow: hidden;
// 	padding: 10px 20px;

// 	img {
// 		width: 100%;
// 		position: absolute;
// 		left: 0;
// 		top: 30%;
// 		-webkit-transform: translateY(-50%);
// 		transform: translateY(-50%);
// 		z-index: $root-z-index + 1;
// 	}

// 	.title {
// 		display: inline-block;
// 		position: relative;
// 		z-index:$root-z-index + 2;
// 		h4 {
// 			@include FiraSans-5(2em, 700, $white-2, -1px, left);
// 			@include TextShadow;
// 		}

// 		.label {
// 			color: $white-2;
// 		}
// 	}
// }

// // Styling Mixins
// @mixin VerticalAlign($pos) {
// 	position: $pos;
// 	top: 50%;
// 	-webkit-transform: translateY(-50%);
//     transform: translateY(-50%);
// }

// @mixin TextShadow {
// 	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
// }

// @mixin Gradient-0-62-100($dark-color, $light-color) {
// 	background: $dark-color;
// 	background: -moz-linear-gradient(left,  $dark-color 0%, $light-color 62%, $dark-color 100%);
// 	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$dark-color), color-stop(62%,$light-color), color-stop(100%,$dark-color));
// 	background: -webkit-linear-gradient(left,  $dark-color 0%,$light-color 62%,$dark-color 100%);
// 	background: -o-linear-gradient(left,  $dark-color 0%,$light-color 62%,$dark-color 100%);
// 	background: -ms-linear-gradient(left,  $dark-color 0%,$light-color 62%,$dark-color 100%);
// 	background: linear-gradient(to right,  $dark-color 0%,$light-color 62%,$dark-color 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-color', endColorstr='$dark-color',GradientType=1 );

// }

// // Standard Measurements
// 	$std-padding: 15px;
// 	$std-wrapper-width: 960px;

// // LISTS
// ul.std{
// 	width: $std-wrapper-width;
// 	margin: 0 auto;
// 	list-style-type: none;
// }

// li.std {
// 	width: 100%;
// 	height: 120px;
// 	margin-bottom: $std-padding / 2;

// 	.std-item{
// 		// DEBUG

// 		$color-bar-width: 20px;
// 		// ----

// 		width: 100%;
// 		height: 100%;

// 		background: $black-2;
// 		padding: 10px;
// 		float: left;
// 		border-radius: 10px;

// 		&:hover {
// 			cursor: pointer;
// 			background: $black-3;
// 		}
		
// 		.value {
// 			display: inline-block;
// 			font-size: 2rem;
// 		}

// 		.label {
// 			// width: 100%;
// 			@include FiraSans-5(1rem, 800, $gray-2, 2px, center);
// 			position: absolute;
// 			bottom: 5px;
// 		}

// 		.color.box {
// 			width: $color-bar-width;
// 			height: 100%;
// 		}

// 		.id.box {
// 			background: $white-3;
// 			// width: 10%;
// 			height: 100%;
// 			padding: $std-padding;

// 			.value {
// 				@include FiraSans-5 (3.2rem, 800, $black-1, -1.75px, center);
// 				position: relative;
// 				top: -5px;
// 			}
// 		}

// 		.title.box {
// 			width: auto;
// 			height: 100%;
// 			padding: $std-padding;

					
// 			.value {
// 				position: relative;
// 				top: -5px;
// 				@include FiraSans-5 (3.2rem, 800, $white-3, -1.5px, left);
// 			}
// 		}
// 	}
// }
// // FORMS
// .field.std {
// 	width: $std-wrapper-width / 2;
// 	margin: 0 auto;
// 	margin-bottom: $std-padding / 2;
// }

// label.std {
// 	width: 100px;
// 	padding: $std-padding;
// 	float: left;
// 	text-align: right;
// 	color: $gray-0;
// }

// input.std {
// 	padding: $std-padding;
// 	@include FiraSans-5 (2rem, 800, $black-1, -1.75px, center);
// 	width: $std-wrapper-width / 2 - 100px;
// }

// // TABLES
// table.std {
// 	width: $std-wrapper-width;
// 	margin: 0 auto;
// }

// thead.std {
// 	background: $black-1;
// 	padding: $std-padding;
// }

// td.std {
// 	background: $black-3;
// 	padding: $std-padding;
// }