FiraSans-3($size, $weight, $color) 
	font-family 'Fira Sans', Helvetica, sans-serif
	font-size $size
	font-weight $weight
	color $color

FiraSans-5($size, $weight, $color, $spacing, $align) 
	font-family 'Fira Sans', Helvetica, sans-serif
	font-size $size
	font-weight $weight
	color $color
	letter-spacing $spacing
	text-align $align
	
StandardPadding()
	padding 8px 15px

VerticalAlign()
	top 50%
	-webkit-transform translateY(-50%)
	transform translateY(-50%)
	
InlineChildren()
	&>*
		display inline-block
		vertical-align top
		// float left
			
HorizontalGradient()
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,fafafa+100&amp;0+0,1+100 */
	background -moz-linear-gradient(left,  rgba(250,250,250,0) 0%, rgba(250,250,250,1) 100%) /* FF3.6+ */
	background -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(250,250,250,0)), color-stop(100%,rgba(250,250,250,1))) /* Chrome,Safari4+ */
	background -webkit-linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,1) 100%) /* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,1) 100%) /* Opera 11.10+ */
	background -ms-linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,1) 100%) /* IE10+ */
	background linear-gradient(to right,  rgba(250,250,250,0) 0%,rgba(250,250,250,1) 100%) /* W3C */

Clearfix()
	&:after
		visibility hidden
		display block
		content ""
		clear both
		height 0