//--------------------
// Image Detail Modal
//--------------------

ModalButton(ht, wd)
	position absolute
	z-index 101
	height ht
	width wd
	background rgba(Black, 0.6)
	color rgba(White, 0.6)
	cursor pointer
	line-height ht
	text-align center
	&:hover
		background rgba(Black,0.9)
		color rgba(White, 1.0)
		text-decoration none
ModalButton()
	position absolute
	z-index 101
	height 60px
	width 60px
	background rgba(Black, 0.6)
	color rgba(White, 0.6)
	cursor pointer
	line-height 60px
	text-align center
	&:hover
		background rgba(Black,0.9)
		color rgba(White, 1.0)
		text-decoration none


#modal
	position fixed
	width 100%
	height 100vh
	top 0
	left 0
	background rgba(Black,0.9)
	z-index 100
	padding 60px
		
	figure
		position relative
		display block
		height 100%
		background rgba(Red,0.8)
		img
			height auto
			width 100%
	figcaption
		position absolute
		-webkit-transform translateY(100%)
		transform translateY(100%)
		width 100%
		bottom 0
		background rgba(Black,0.9)
		color White
		padding 20px 30px

	.close
		top 0
		left 0
		ModalButton()
		
	.arrow
		top 50%
		-webkit-transform translateY(-100%)
		transform translateY(-100%)
		ModalButton()
		&.left
			left 0
		&.right
			right 0