//- Models style
//- Styling for all representations of models (Skills, Projects) outside their homepages
//- v1.4.3

//- Projects

//- Large Project
li.project-L
	list-style-type none
	background White
	
	border-bottom 1px white0 solid
	padding 10px 30px
	
	&:first-child
		border-top 1px white0 solid
		
	
	h3
		color Black
		// padding 8px 15px
			
//- Skills

//- Medium Skill
li.skill-M
	FiraSans-5(16px, 700, White, 1px, left)
	list-style-type none
	color Red


//- Small Skill
li.skill-S
	FiraSans-5(12px, 700, White, 1px, left)
	list-style-type none
	color Red