// Utility Selectors
// version 0.9.0
// - General purpose classes and IDs

// clearfix
// - border-box of course, no margin or padding
*,
*:before,
*:after
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	margin 0
	padding 0
	position relative

// none
// - sets an element and any child elements 
// - to override and display none
.none
	display none !important
	*
		display none !important
		
// debug
// - for debug mode
.debug
	border 1px solid Yellow
	* 
		border 1px solid Yellow