//- New Skill
//- version 0.5.0
//- arguments:
	model: Object.prototype - a prototype of the Object being created
	keys: Array - the array of all the fields to render a field for
extends ./skills.jade

block skill_page
	h1 New Skill
	+new_form( model, keys )(action="/skills/new", method="POST")