//- Skill Views Header
//- version 0.5.0

extends ../layout.jade
include ../std/std-ui.jade

block stylesheet
	include ../../public/stylesheets/skills.css

block page
	block skill_page

//- Specialized Views
mixin skill_tag(skill)
	- skill.url = "/skills";
	- var col = skill.color || "#666";
	- var bg = "background: "+col+" !important;";
	- var text = "color: "+col+" !important;";
	a.skill-tag(style="#{bg}", href="#{skill.url}")
		.value= skill.title