//- app.jade
//- version 2.0.0

doctype
html
	head
		title
			block title

		link(href="/stylesheets/font-awesome.min.css" rel="stylesheet")
		link(href="/stylesheets/index.css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		include analytics



	body 
		#wrapper
			block body