//- app.jade
//- version 2.0.0

doctype
html
	head
		title
			block title

		link(href="/stylesheets/font-awesome.min.css" rel="stylesheet")
		link(href="/stylesheets/index.css" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		include analytics



	body 
		#wrapper
			block body

	footer
		.half-width
			p I've got big plans for this website, but right now, it's in the first few stages of its development.<br> Can you say Agile? ;)<br> Stay Tuned!
		.updated
			p Updated Sept. 6, 2015