//- App layout
//- version 1.4.2

-var adminMode = false;

include app/sidebar

doctype
head
	title
		block title

	style
		include ../public/stylesheets/font-awesome.min.css
		block stylesheet
	//- include ./analytics.jade

body
	+sidebar
	.view
		.mainpage
			block mainpage