//- App Template
//- version 2.2.0

doctype
html
	head
		title
			block title

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		//- link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
		link(rel="stylesheet" href="/stylesheets/index.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		include analytics



	body 
		.container-fluid
			block body

			footer#site-footer
				