//- Index page
//- version 1.4.3
extends app

block title
	| Dillon Drenzek - Digital Artist

block stylesheet
	include ../public/stylesheets/index.css

block mainpage
	section.title
		h2 Digital Artist

	//- section.subtitle
		//- div since Fall 2013

	section.content
		h3 Humble Beginnings
		p I've been interested in how things look ever since I started "designing" sports scoreboards using a spreadsheet
			| application on my family's first MacIntosh computer when I was 4 years old. I took numerous art classes in 
			| high school and was part of HawkTV, the school's weekly news show broadcast every Friday morning. I first
			| began using Photoshop seriously when I began college and found a love for creating art in the digital domain.
			| Since then, I've been using the Adobe suite as well as other programs such as Maya 3D and Sketch to produce
			| works of art (practical or otherwise) in the digital domain!

	aside.skills
		+list('Related Skills')
			+mediumSkill('Photoshop')
			+mediumSkill('Illustrator')
			+mediumSkill('InDesign')
			+mediumSkill('Premiere Pro')
			+mediumSkill('After Effects')
			+mediumSkill('Sketch')
			+mediumSkill('Photography')
			
	section.projects
		+list('Projects')
			+largeProject({title: 'Cold for Now, but Always Wondering', skills: ['Photoshop', 'Photography']})
			+largeProject({title: 'Me, In So Many Words', skills: ['Photoshop', 'Photography']})
			+largeProject({title: 'Walk Through', skills: ['Photoshop', 'Illustrator', 'Photography']})
			+largeProject({title: 'Hear Things You Like', skills: ['Photoshop', 'Photography']})
			+largeProject({title: 'The Experience of Time', skills: ['Premiere Pro', 'Photography']})
			+largeProject({title: 'Heliograph', skills: ['Photoshop', 'Photography']})
			+largeProject({title: '** Alternative Imaging Finals', skills: ['Photoshop', 'Photography']})