//- Author Page
//- version 3.0.1

extends app

block title
	| Dillon Drenzek | The Author

block page

	//- Author
	//- section#author
	//- 	figure
	//- 		img.author(src="images/profile.jpg" alt="Dillon Drenzek")
	//- 	.text
	//- 		header
	//- 			h2 A Word from the Author
	//- 		.body
	//- 			p I design, code, and enjoy beautiful things. I recently graduated from the University of Colorado with a degree in Computer Science, but that doesn't mean I've stopped learning. In fact, that means I get to spend more time learning the things I do want to learn. I'm glad you're here - whatever brings you - and I hope you'll reach out and we can talk, work, or even play together. Cheers!
	//- 		footer
	//- 			+SocialMedia()