script(src="/backbone/lib/backbone.js")
script(src="/backbone/lib/backbone.localStorage.js")
script(src="/backbone/lib/jquery-1.11.2.js")
script(src="/backbone/lib/underscore.js")
script(src="/backbone/models/skill.js")
script(src="/backbone/collections/skills.js")
script(src="/backbone/views/skill.js")
script(src="/backbone/views/skills.js")
script(src="/backbone/app.js")
