//- Homepage
//- Created: v2.4.0
//- Updated: v3.0.0

extends app

block title
	| Dillon Drenzek

block link
	link(rel="stylesheet" href="/css/homepage.css")

block page
	.links
		a(href="/the-work-of") 
			.title , The Work of
			.comment Curriculum Vitae
		a(href="http://thoughts.drenzek.com")
			.title , The Mind of
			.comment I write from the heart, actually.
		a(href="/author") 
			.title A Word From the Author
			.comment About me, by me, for you.
