//- Index Page
//- version 0.7.0
extends ./layout.jade

block stylesheet
	include ../public/stylesheets/index.css
	

//- block nav 
	li
		a(href="/skills") Skills
	li
		a(href="/projects") Projects


block page

	.main-page
		section.title
			header
				h2 Dillon Drenzek
				.detail
					h3 Thinker, Learner, and Developer
			nav
				ul
					li
						a(href="/skills") Skills
					li
						a(href="/projects") Projects

		section.subtitle
			.since.box
				.value.large July 27, 1992
				.label since
			//- .outlook.box
				.value.large Optimistic
				.label outlook	
			//- .momentum.box
				.value.large 99
				.label momentum

		section.working
			header
				h3 Current Projects
			a(href="/projects") See All Projects
			+project_list(projects)


		section.skills
			header
				h3 Personally Trending
			a(href="/skills") See All Skills
			+skill_list(skills)
