//- index
//- version 2.0.0

extends app

block title
	| Index

block body

	//- Title
	
	header#site-title
		h1 Dillon Drenzek
			.subtitle Aspiring Developer, Perpetual Learner
		nav
			ul
				li: a(href="#author") About
				li: a(href="#projects") Work
				li: a(href="#skills") Skills
				//- li: a(href="#") Contact
	//- section
		.flexible-height
			
	

	//- About
	//- section#about
		//- header
		ul.data-boxes
			li.data-box
				.data July 27, 1992
				.title Since
			li.data-box
				.data Bozeman, Montana
				.title Location
			//- li.data-box
				.data University of Colorado
				.title University
			//- li.data-box
				.data B.A. Computer Science
				.title Degree
		
	#author
		.preview.half-width
			.image
				.horizontal-gradient
				img(src="images/profile.jpg" alt="Dillon Drenzek")
		.text.half-width
			.vertical-align
				h2 A Word (or 73) from the Author
				p.justify I design, code, and enjoy beautiful things. I recently graduated from the University of Colorado with a degree in Computer Science, but that doesn't mean I've stopped learning. In fact, that means I get to spend more time learning #[span: a(href="#") the things I do want to learn]. I inject functionality, quality, and a lot of love into everything I do and so far, that has helped me do #[span: a(href="#") a number of amazing things]. I'm already good at a lot of different technologies and I can't wait to get even better. I'm glad you're here - whatever brings you - and I hope you'll #[span: a(href="#") reach out] and we can talk, work, or even play together. Cheers!
				ul#social-media.inline-children
					li: a(href="#") T
					li: a(href="#") I
					li: a(href="#") L
					li: a(href="#") G
		//- 		li: a(href="#") D
		//- 		li: a(href="#") B
		//- .minor-width
		//- 	.image
		//- 		<img src="http://dummyimage.com/414x360/4d494d/686a82.gif&text=me!" alt="me!">


	//- Skills
	section#skills
		header
			h2 Things I Can Do
			p I have been exposed to countless numbers of technologies for developing websites, here are some of my favorites.

		.half-width.margin-bottom
			h3 Web Development
			ul.skills
				li.skill HTML/CSS
				li.skill JavaScript
				li.skill jQuery
				li.skill Node.js
				li.skill Stylus
			//- a(href="/skills") Among Others...
		.half-width.margin-bottom
			h3 UI/UX Design
			ul.skills
				li.skill Photoshop
				li.skill Illustrator
				li.skill Sketch
		.full-width
			h3 Newest Additions to My Skillset
			ul.skills
				li.skill Angular.js
				li.skill MongoDB
				li.skill Neo4j
				li.skill PHP
				li.skill Java
					
	mixin project()
		li.project
			.title
				h3 Shorter Project Name
					.subtitle Project Type
				ul.skills
					li.skill Angular.js
					li.skill Neo4j
					li.skill Node.js
				p Pretty short project description. That's the way it must be.
				a(href="#") Launch
				a(href="#") View on GitHub
			
			.preview
				.image
					img(src="images/drenzek-truthiness.jpg" alt="Test Image")
		//- li.project
			.half-width.full-height
				.image
					img(src="images/drenzek-truthiness.jpg" alt="Test Image")
			.half-width.vertical-align
				h3 Shorter Project Name
					.subtitle Project Type
				ul.skills
					li.skill Angular.js
					li.skill Neo4j
					li.skill Node.js
				p Pretty short project description. That's the way it must be.
				a(href="#") Launch
				a(href="#") View on GitHub


	//- Work
	section#projects
		header
			h2 Things I've Made
			p I inject functionality, quality, and a love of love into everything I do, and so far, that has helped me do a number of really neat projects.
		.full-width
			ul.projects
				+project()
				+project()
				+project()


	//- Contact
	//- section
		header
			h2 Contact
			a.more(href="#") All Contact
		.flexible-height
			ul.contacts
				li.contact Contact
				li.contact Contact
				li.contact Contact


