//- Index Page
//- updated: v2.4.1

extends app

block title
	| Dillon Drenzek | Aspiring Developer, Perpetual Learner

block page

	//- Skills
	if skills
		section#skills
			header
				h2 Things I Can Do
				p I have been exposed to countless numbers of technologies for developing websites, here are some of my favorites.
			+SkillsContainer("Web Development", skills.web)
			+SkillsContainer("UI/UX Design", skills.design)
			+SkillsContainer("Newest Additions to My Skillset", skills.learning)

	//- Work
	if projects && projects.length > 0
		section#projects
			header
				h2 Things I've Made
				p I inject functionality, quality, and a lot of love into everything I do. So far, that has helped me do a number of really neat projects, here are a few recent examples.
			ul.projects
				each p in projects
					+Project(p)







