//- Index Page
//- version 2.2.0

extends app

block title
	| Dillon Drenzek | Aspiring Developer, Perpetual Learner

block body

	//- Author
	section#author
		figure
			img(src="images/profile.jpg" alt="Dillon Drenzek")
		.text
			header
				h2 A Word from the Author
			.body
				p I design, code, and enjoy beautiful things. I recently graduated from the University of Colorado with a degree in Computer Science, but that doesn't mean I've stopped learning. In fact, that means I get to spend more time learning the things I do want to learn. I'm glad you're here - whatever brings you - and I hope you'll reach out and we can talk, work, or even play together. Cheers!
			footer
				+SocialMedia()

	//- Skills
	if skills
		section#skills
			header
				h2 Things I Can Do
				p I have been exposed to countless numbers of technologies for developing websites, here are some of my favorites.
			+SkillsContainer("Web Development", skills.web)
			+SkillsContainer("UI/UX Design", skills.design)
			+SkillsContainer("Newest Additions to My Skillset", skills.learning)

	//- Work
	if projects && projects.length > 0
		section#projects
			header
				h2 Things I've Made
				p I inject functionality, quality, and a lot of love into everything I do. So far, that has helped me do a number of really neat projects, here are a few recent examples.
			ul.projects
				each p in projects
					+Project(p)







