//- ios development page
//- version 1.4.3
extends app

block title
	| Dillon Drenzek - iOS Developer

block stylesheet
	include ../public/stylesheets/ios.css

block mainpage
	section.title
		h2 iOS Developer

	section.subtitle
		//- div since Fall 2013

	section.content
		h3 Humble Beginnings
		p I first began iOS development in a class I took in the Fall of 2014 called 
			| Mobile Application Development taught by Aileen Pierce. I remember it 
			| well because I was still pretty new into the Computer Science field and 
			| Objective-C had the most bizarre looking syntax I could possibly imagine. 
			| At the time, I was still figuring out the different between functions 
			| and methods and now I was being told function calls happened in square 
			| brackets?? Later, it was Aileen to connected me to my current boss, Devon 
			| Tivona, who gave me a job in February 2014 helping him start a company 
			| called Varsity, which later became Native.

	aside.skills
		+list('Related Skills')
			+mediumSkill('Objective-C')
			+mediumSkill('Swift')
			
	section.projects
		+list('Projects')
			+largeProject({title: 'Native', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Native', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Native', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})


			//- +largeProject('Palette')
			//- +largeProject('Object-Oriented Design Class Project')
			//- +largeProject('Native (Concierge)')
			//- +largeProject('Native (TechStars)')
			//- +largeProject('Varsity')
		//- h3 Projects
		//- ul
			li Native
			li Palette
			li Object-Oriented Design Class Project
			li Native (Concierge)
			li Native (TechStars)
			li Varsity


