//- Index page
//- version 1.4.2
extends app

block title
	| Dillon Drenzek - iOS Developer

block stylesheet
	include ../public/stylesheets/index.css

block mainpage
	section.title
		h2 iOS Developer

	section.subtitle
		div since Fall 2013

	section.content
		h3 Content

	section.skills
		h3 Related Skills
		ul
			li Objective-C
			li Swift
