//- STANDARD LAYOUT
//- version 1.0.0

-var admin = false;

include ./model-representations.jade
include ./std-ui.jade
include ./nav.jade


doctype html
html
	head
		title drenzek-dillon
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		style
			block stylesheet
	body
		.main-page
			+nav(admin)
			block page

