nav 
	ul 
		li 
			a(href="/") Home
		li 
			a(href="/skills") Skills
			a(href="/skills/edit") Edit
		li 
			a(href="/projects") Projects
			a(href="/projects/edit") Edit
		li 
			a(href="/times") Times
			a(href="/times/edit") Edit
		li 
			a(href="/contexts") Contexts
			a(href="/contexts/edit") Edit
		