//- Standard Nav Bar
//- Version 0.6.0

mixin navButton(h, label)
	li
		a(href="#{h}")= label

mixin nav(admin)

	if !admin
		nav
			ul
				li
					a(href="/" class="home") Home
				li
					a(href="/skills") Skills
				li
					a(href="/projects") Projects
					//- .menu
						a(href="/skills") Skills
						a(href="/projects") Projects
				block nav


	else
		nav 
			ul 
				li 
					a(href="/") Home
				li 
					a(href="/skills") Skills
					a(href="/skills/new") New
					a(href="/skills/edit") Edit
				li 
					a(href="/projects") Projects
					a(href="/projects/new") New
					a(href="/projects/edit") Edit
				block nav
				//- li 
					a(href="/times") Times
					a(href="/times/edit") Edit
				//- li 
					a(href="/contexts") Contexts
					a(href="/contexts/edit") Edit


+nav(true)