extends ./layout.jade

block title
	title Dillon Drenzek - iOS &amp; Web Developer

block stylesheet
	include ../public/stylesheets/resume.css
		
block page
	#resume 
		.none (updated 3-4-15)
		section.title
			header
				h2 Dillon Drenzek
				ul.info
					li
						//- h3 Address
						p 858 18th Street
					li
						//- h3 Address
						p Boulder, CO 80302
					li
						//- h3 Phone
						p (406) 599-8576
				ul.links
					li
						p dr.enzek@gmail.com
					li
						p linkedin.com/in/dillondrenzek
					li
						p github.com/dillondrenzek

		section
			header
				h3 Objective
			p I’m seeking a full-time job that will help me continue to grow as a developer and programmer of “beautiful” code, while creating meaningful products and maintaining a well-rounded technical and professional skillset.
		
		section
			header
				h3 Experience
			ul
				li
					header 
						h4 iOS Developer	
						p NativeApp (a TechStars-backed company)
						p (February 2014 - present)
						p Boulder, Colorado
					ul
						li Worked closely with company’s founders to determine iOS app requirements
						li Implemented new app features quickly and often independently
						li Focused on writing expandable, maintainable and reusable code
						li Frequently required to learn new technologies quickly
						li Utilized the CEO’s superior knowledge to enhance my own

				li
					header 
						h4 Instructor	
						p Scornavacco Martial Arts Academy
						p (July 2012 - October 2014)
						p Longmont, Colorado
					ul
						li Taught karate to kids ages 4-16, focusing on instilling confidence and discipline
						li Lead and assisted classes of 5-25 students, coordinated lesson plans with other instructors
						li Maintained regular communication with parents and listened to concerns and feedback
						li Designed and distributed a monthly newsletter, maintained school’s main WordPress website
						li Earned a Black Belt after just 2 years of intense personal training


		section
			header
				h3 Skills
			ul
				li
					span Well-Versed:
					p Objective-C, HTML, CSS, Adobe Photoshop, Adobe Illustrator, Git, Mac OS X, UI Design, Analyzing and solving problems, Self-motivated learning, Positivity, Empathy
				li
					span Proficient:
					p Swift, jQuery, JavaScript, Sketch, Agile Development, Parse DBMS, REST, Object-Oriented Programming, Time management, Leadership, Public Speaking
				li
					span Actively Learning:
					p All skills listed above (of course), Adobe After Effects, Numerous JavaScript Libraries (Node.js, Backbone.js), Living in the “Real World”

		section 
			header
				h3 Education
			ul
				li
					header 
						h4 Computer Science, B.A.	
						p University of Colorado at Boulder
						p (August 2010 - May 2015)
						p Boulder, Colorado
					ul
						li Minor in Technology, Arts &amp; Media
						li Expected to graduate with Honors in Technology, Arts &amp; Media (&gt;3.75 GPA)
						li 3.1 Cumulative GPA

				li
					header 
						h4 Study Abroad	
						p Danish Institute for Study Abroad
						p (May - August 2015)
						p Copenhagen, Denmark
					ul
						li Enrolled in a 7-week graphic design studio


		
