extends ./layout.jade

block title
	title Dillon Drenzek - iOS &amp; Web Developer

block stylesheet
	include ../public/stylesheets/resume.css
		
block page
	#resume 
		.none (updated 3-4-15)
		section.title
			header
				h2 Dillon Drenzek
				ul.info
					li
						h3 Address
						p 858 18th Street <br> Boulder, CO 80302
					li
						h3 Phone
						p (406) 599-8576
					li
						h3 Email 
						p dr.enzek@gmail.com

		section
			header
				h3 Objective
			p.update I want to find a job that will allow me to continue 
		
		section
			header
				h3 Skills


		section
			header
				h3 Experience
			ul
				li
					header 
						h4 Native App	
						p February 2014 – Present
					p.update High-quality painting of homes with thorough prep work, detailed brushwork and frequent customer interaction
					p.update Reference Contact Info: Jimmy Eberly (406) 570-6912, Bozeman, Montana

				li
					header 
						h4 Scornavacco Martial Arts Academy	
						p July 2012 – October 2014
					p.update Instilled confidence and discipline in students aged 4-16; Assessed Students' progress on a daily basis; Engaged in discussions about student's performance with students' parents
					p.update Reference Contact Info: Kraig Koshnick (406) 581-1570, Bozeman, Montana

				li
					header 
						h4 Custom Paint and Paper Inc.	
						p May 2011 – August 2011
					p.update High-quality painting of homes with thorough prep work, detailed brushwork and frequent customer interaction
					p.update Reference Contact Info: Jimmy Eberly (406) 570-6912, Bozeman, Montana

		section 
			header
				h3 Education
			ul
				li
					header
						h4 University of Colorado at Boulder
						p August 2010 - May 2015
					p B.A. Computer Science
					p 3.1 GPA

		
