extends app

block title
	| TEST

block body
	section#projects
		header
			h2 projects
		ul.projects
			li.project
				.title
					header
						h3 Project title
						.subtitle Type
					p Very extensive project description. Very extensive project description. Very extensive project description.
					a(href="#").button Launch
				figure.image-slider
					img(src="images/drenzek-truthiness.jpg")
					img(src="images/always-wondering.jpg")
					img(src="images/storm.jpg")
			//- li.project
				.title
					header
						h3 Project title
						.subtitle Type
					p Very extensive project description. Very extensive project description. Very extensive project description.
					a(href="#").button Launch
				figure.image-slider
					img(src="images/always-wondering.jpg")
					img(src="images/drenzek-truthiness.jpg")
					img(src="images/storm.jpg")
					