//- The Work Of
//- Created: v3.0.1
//- Updated: v3.0.4

extends app

block title
	| The Work Of | Admin Home

block angularApp
	script(src="/js/angularApp.js")
block link
	link(rel="stylesheet" href="/css/the-work-of.css")

block head
	base(href="/the-work-of/")

block page
	.app(ng-app="workApp")
		


		script(type="text/ng-template" id="/login.html")
			.page
				.left
				.center
					section.login
						form
							.form-group
								input(type="text" name="username" value="")
								br
								label(for="username") Username
							.form-group
								input(type="password" name="password" value="")
								br
								label(for="password") Password
								
								
							.form-group
								//- input(type="submit" value="Login")
								a(href="/the-work-of/admin") Login
				.right



		script(type="text/ng-template" id="/admin.html")
			.page
				.left

				.center

					section.title 
						h2 {{pageTitle}}

					//- Skills
					section.admin
						header
							h3 List Skills
							a(href="/admin/skills") Full Table >
						table.list-skills
							tr.head(ng-show="skills.length")
								th Title
								th(colspan="3") Buttons
							tr.skill(ng-repeat="skill in skills")
								td.title {{skill.title}}
								td.action: a.inactive(href="#") Show
								td.action: a.inactive(href="#") Edit
								td.action: a.destroy(ng-click="") Destroy
							tr.count
								td {{skills.length}} skills found.


					//- Project
					section.admin
						header
							h3 List Projects
						table.list-projects
							tr.head(ng-show="projects.length")
								th Title
								th(colspan="3") Buttons
							tr.project(ng-repeat="project in projects")
								td.title {{project.title}}
								td.action: a.inactive(href="#") Show
								td.action: a.inactive(href="#") Edit
								td.action: a.inactive(href="#") Destroy
							tr.count
								td {{projects.length}} projects found.

				.right
					section.title

					section
						header
							h3 New Skill
						form.new-skill(ng-submit="newSkill()")
							.form-group
								input(type="text" ng-model="newSkill.title" name="title")
								label Title
							.form-group
								input(type="submit" value="Create Skill")
					//- section.title
					section
						header
							h3 New Project
						form.new-project
							.form-group
								input(type="text" ng-model="newProject.title" name="title")
								label Title
							.form-group
								input(type="text" name="descriptors")
								label Descriptors
							.form-group
								input(type="text" name="skills")
								label Skills
							.form-group
								input(type="text" name="description")
								label Description
							.form-group
								input(type="submit" value="Create Project")

		script(type="text/ng-template" id="/show-skill.html")
			.page
				.left
				.center
					section.title Show Skill
				.right

