//- Web developer page
//- version 1.4.2
extends app

block title
	| Dillon Drenzek - Web Developer

block stylesheet
	include ../public/stylesheets/index.css

block mainpage
	section.title
		h2 Web Developer

	section.subtitle
		//- div since Summer 2013

	section.content
		h3 Humble Beginnings
		p I first started learning how to code websites in a meaningful way on my 21st birthday 
			| by going through the lessons on <a href="http://www.codecademy.com">Codecademy</a> 
			| about HTML and CSS. I immediately began to design and code a "personal portfolio." I 
			| didn't get far past the JPEG navbar links (funny, in hindsight) on my first try, but 
			| web development has become the way I merge my artistic abilities with my logical and technical mind.

	aside.skills
		+list('Related Skills')
			+mediumSkill('HTML')
			+mediumSkill('CSS')
			+mediumSkill('JavaScript')
			+mediumSkill('Node.js')
			+mediumSkill('Jade')
			+mediumSkill('Sass')
			+mediumSkill('Stylus')

	section.projects
		+list('Projects')
			+largeProject({title: 'Dillondrenzek.com v2', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Dillondrenzek.com v1', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Capstone Professional Portfolio', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Capstone Assignment Portal', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Advanced Web Design Portal', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Digital Media 2 Portal', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Digital Media 1 Portal v1', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Digital Media 1 Portal v2', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})
			+largeProject({title: 'Digital Sound Portal', startDate: 'Feb 2014', endDate: 'present', skills:['iOS', 'Objective-C']})