// Resume Styling
// version 1.3.0
@import 'app'
	
#resume
	float left
	// width 960px //probably scale this for phone soon
	background white3
	font-size 16px
	letter-spacing 0px
	padding 2% 3%

// Utility Classes
.indent
	padding-left 2em


// Headers
h2
	FiraSans-5(4em, 700, Black, -3px, left)
	line-height 1em
	
h3
	FiraSans-5(2em, 200, Black, 0px, left)
	


span
	FiraSans-5( 1em, 700, Black, 0px, left )

// Title Section
header.title
	width 100%
	position relative
	float left
	border-bottom 2px solid gray3

	header
		width 100%
		
	ul.info
		float left
		
	ul.links
		float right	
	
	li
		padding 0
		
		& > *
			display inline-block
			
	span.separator
		color white0
		margin-left 0.2em
	
	.icon
		color Red
		text-align center
		margin-right 10px
	
	.value
		color gray1


// Sections	
section
	position relative
	float left
	width 100%
	padding 10px 0
	border-bottom 1px solid white1
	
	& > *
		width 100%
		display block
		
li
	// +itemHeader() style
	header
		position relative
		height 50px
		
		&>*
			position absolute

		h4
			FiraSans-5(1.5em, 700, Black, -1px, left)
			top 0
			left 0
		.context
			FiraSans-5(0.9em, 400, Black, 0px, left)
			bottom 0
			left 0
		.date
			FiraSans-5(1.2em, 200, Black, -1px, left)
			font-style italic
			top 0
			right 0
		.location
			FiraSans-5(0.9em, 400, Black, 0px, left)
			bottom 0
			right 0

// Objective Section
.objective
	p
		FiraSans-5(1em, 700, Black, 0px, left)
		font-style italic
		
