FiraSans-3($size, $weight, $color) 
	font-family 'Fira Sans', Helvetica, sans-serif
	font-size $size
	font-weight $weight
	color $color

FiraSans-5($size, $weight, $color, $spacing, $align) 
	font-family 'Fira Sans', Helvetica, sans-serif
	font-size $size
	font-weight $weight
	color $color
	letter-spacing $spacing
	text-align $align
	
StandardPadding()
	padding 8px 15px

VerticalAlign()
	position absolute
	top 50%
	-webkit-transform translateY(-50%)
	transform translateY(-50%)
	
