//- STANDARD LAYOUT
//- version 1.4.1

-var admin = false;

//- include ./model-representations.jade
//- include ./std-ui.jade
include sidebar
include mainpage
//- include ./nav.jade


doctype html
head
	block title
		title drenzek-dillon
	style
		include ../public/stylesheets/font-awesome.min.css
		block stylesheet
	include ./analytics.jade

body
	+sidebar
	+mainpage


//- html
	head
		block title
			title drenzek-dillon :: 4567
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

		//- link(href="stylesheets/font-awesome.min.css")
		style
			include ../public/stylesheets/font-awesome.min.css
			block stylesheet
		include ./analytics.jade
	body
		+sidebar

		.main-page
		//- .main-page
			+nav(admin)
			block page

