//- Standard Nav Bar
//- Version 0.10.0

mixin homeButton
	li
		a(href="/" class="fa fa-home fa-2x home")

mixin adminButton
	li
		a(href="#" class="fa fa-power-off" title="Admin Mode")

mixin navButton(h, label)
	li
		a(href="#{h}")= label

mixin nav(admin)

	nav 
		ul 
			+homeButton
			//- +navButton('/skills', 'skills')
			//- +navButton('/projects', 'projects')
			+navButton('/ios', 'ios')
			+navButton('/web', 'web')
			+navButton('/resume', 'resume')
			+navButton('/skills', 'skills')
			+navButton('/projects', 'projects')
			//- +adminButton
			li
				a(href="http://www.linkedin.com/in/dillondrenzek" class="fa fa-linkedin" target="_blank")
			li
				a(href="http://www.github.com/dillondrenzek" class="fa fa-github" target="_blank")

