@import 'app'

//---------------------------------------
*,
*:before,
*:after
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	margin 0
	padding 0
	
html
	background White
	FiraSans-5(16px, 500, Black, -1px, left)
	


//--------------------
//- Generic Styling
//--------------------

	

h2
	FiraSans-5(1.5rem, 700, Black, -0.05em, left)
	line-height 1.5rem
	
h3
	FiraSans-5(1.5rem, 400, Black, 0em, left)
	line-height 1.5rem

h4
	FiraSans-5(1.25rem, 200, Gray, 0em, left)

		
p
	FiraSans-5(1rem, 200, Black, 0.03125em, justify)
	// line-height auto
	
a
	color Red
	font-weight 400
	text-decoration none
	&:hover,
	&:active
		text-decoration underline
	&:active
		color Dark



//----------------------
//- Reusable Components
//----------------------
.horizontal-gradient
	height 100%
	width 40%
	position absolute
	z-index 1
	right 0
	HorizontalGradient()
	
.vertical-gradient
	height 40%
	width 100%
	position absolute
	z-index 1
	bottom 0
	VerticalGradient()
	
.image
	overflow hidden
	width 100%
	// height 540px
	&>*
		display inline-block
		vertical-align middle
	// img
	// 	height 540px


		

#social-media
	col-XS(12)
	// margin-top 30px
	// height 65px
	
	// padding-bottom 5%
	InlineChildren()
	li
		&:first-child a
			padding-left 0

		a
			color Red
			padding 0 20px
			
			&:hover i
				color Black
			i 
				font-size 1.75em

.skills
	list-style-type none
	
	.skill
		display inline-block
		// text-align center

.skill
	background Red
	text-align center
	padding 0.25em 1em
	
	color White
	border-radius 0.5em
	
	cursor default



//------------------
//- Top of the Page
//------------------
#site-title
	background Black
	color White
	Width-XS(12)
	
	&>*
		display inline-block
		vertical-align middle
	
	
.site-title
	Width-XS(12)
	Width-SM(5)
	padding-left 0
	padding-right 0
	h1
		FiraSans-5(3rem, 700, White, -0.05em, center)
		line-height 3rem
	.subtitle
		FiraSans-5(0.75rem, 200, Red, 0.14em, center)
		line-height 0.75rem
		text-transform uppercase
		left 4px
		padding-top 0
		
nav
	Width-XS(12)
	Width-SM(7)
	background Black
	color White
	
	
	ul
		Width-XS(12)
		display table

	li
		text-align center
		display table-cell
	a
		FiraSans-5(1rem, 200, Light, 0.111111em, left)
		text-transform uppercase
		padding 15px


//------------------
//- Sections
//------------------
section
	Width-XS(12)
	&:not(#site-title)
		&>*
			padding-left 20px
			padding-right 20px
	&>*
		padding-top 30px
		
		&:last-child
			padding-bottom 30px
		&>*
			padding-top 10px
			&:first-child
				padding-top 0
			&:last-child
				padding-bottom 0
				
	h1, h2, h3, p
		color inherit
	
	figure
		Width-XS(12)
		overflow hidden
		padding 0 !important
		
		img
			display block
			width 100%
	
	.text
		Width-XS(12)
	
	.skills-container
		padding-top 70px
		&:last-child
			padding-bottom 70px

		&:not(:last-child)
			Width-SM(6)
			display inline-block
			vertical-align top


		h3
			width 100%
			text-align center
		.skills
			text-align center

			.skill
				margin-bottom 5px
				&:not(:last-child)
					margin-right 5px
					
	.project
		padding-top 70px
		padding-bottom 70px
			
		.title
			// Width-XS(12)
			
.project
	border-top solid 1px Gray
	&:last-child
		border-bottom solid 1px Gray
	list-style-type none
	&>*
		display inline-block
		vertical-align middle
	
	.title
		Width-XS(12)
		Width-SM(6)
		header
			Width-XS(12)
			&>*
				margin-top 10px
				&:first-child
					margin-top 0
			
		.button
			FiraSans-5(1.25rem, 400, Red, auto, center)
			Width-XS(12)
			Width-SM(10)
			margin 0 auto
			border 1px solid Red
			display block
			margin-top 10px
			margin-bottom 10px
			
		.subtitle
			FiraSans-5(0.75rem, 200, Red, 0.14em, left)
			line-height 0.75rem
			text-transform uppercase
		
		&>*
			margin-top 10px
			&:first-child
				margin-top 0
	figure
		Width-SM(6)
				
		


#author
	background White
	color Black
	
#skills
	background Black
	color White
	
#projects
	background White
	color Black
	
	// & *
	// 	// vertical-align top
	// 	color inherit



	// &>*
	// 	margin-bottom 75px
	// 	&:last-child
	// 		margin-bottom 0px



// 	-webkit-transform translateY(-8%)
// 	transform translateY(-8%)
	
// 	.subtitle
// 		left 4px // nudge


// 	
// 	position absolute
// 	bottom 0
// 	left 0
	
	
// nav
// 	height 65px
// 	ul
// 		text-align center
// 		VerticalAlign()
// 		li
// 			list-style-type none
			
// 				
// 				text-decoration none
// 				padding 20px 25px
// 				&:hover, &:active
// 					color Red
					
// // section
// // 	padding 6% 10%

// #author
// 	background White
// 	color Black
	
// 	.vertical-gradient
// 		// display 
// 	.horizontal-gradient
// 		display none

// 	img
// 		height auto
// 		width 100%
		
// 	.padded-children
// 		&>*
// 			padding-top 17.5px
// 			&:last-child
// 				padding-bottom 17.5px



					
// #skills
// 	background Black
// 	color White
	
// 	header > *
// 		vertical-align middle
	
// 	& *
// 		vertical-align top
// 		color inherit



// 	header
// 		&>*
// 			display inline-block
// 			vertical-align middle
// 		h2 
// 			color inherit
// 			padding-right 0.8125em
// 			border-right 2px solid Red
// 		p
// 			color inherit
// 			width 68%
// 			padding-left 1.625em

// 	h3
// 		color inherit
// 		text-align center

// 	ul
// 		margin 0 auto
// 		li
// 			display inline-block
// 			margin .5em



// 	ul
// 		text-align center
// 	.skills-container
// 		width 50%
// 		&:last-child
// 			width 100%

// #author
// 	height 540px

// 	&>*
// 		width 50%


// 	.image
// 		position absolute
// 		z-index 0
// 		height 100%
// 		img
// 			height 100%

// 	.text, .preview
// 		background White
// 		padding 0 75px 0 0
// 		position absolute
// 		z-index 5
// 		height 100%

// 		&:last-child
// 			right 0

// 		h2
// 			margin-bottom 20px

// #projects
// 	background White




// //---------
// //- Footer
// //---------
// footer
// 	background Black
	
	// &>*:first-child
		// margin 0 auto

	// p
	// 	color Gray !important
	// color White
// 	padding 50px 12.5%
// 	font-size 12px
// 	.half-width
// 		margin 0 auto
	
// 		font-size 12px
		
// 		text-align center
// 	.updated
// 		margin-top 10px







// - Media Queries
@media (min-width: 768px) {
	@import 'small'
}

@media (min-width: 992px) {
	@import 'medium'
}

@media (min-width: 1200px) {
	@import 'large'
}

