// @import "_application.scss";

// .main-page {
// 	background: $white-3; }

// header.section {
// 	position: relative;
// 	a {
// 		color: $gray-2;
// 		position: absolute;
// 		right: 10px;
// 		top: 50%;
// 		-webkit-transform: translateY(-50%);
// 		transform: translateY(-50%);

// 		&:hover {
// 			color: $gray-0;
// 		}
// 	}
// }

// section.title {
// 	$root-z-index: 0;
// 	height: 500px;
// 	position: relative;
// 	z-index: $root-z-index;
// 	background: url("/images/me.jpg") no-repeat right;
	
// 	header {
// 		background: none;
// 		display: inline-block;
// 		position: relative;
// 		width: 100%;
// 		z-index: $root-z-index + 2;

// 		* {
// 			display: inline-block; }

// 		h2 {
// 			margin-right: 30px; }

// 		.detail {
// 			position: relative;
// 			width: 100%;
// 			height: 30px;
// 			left: 3px;
// 			top: -5px; }
// 		.skill-tag {
// 			margin: 0 20px;
// 			position: relative;
// 			top: -5px; }

// 		.label {
// 			font-size: 1.5rem; }
// 	}
// }

// section.subtitle {

// 	a {



// 	}

// 	.box {
// 		// border-left: 1px solid $black-3;
// 		border-right: 1px solid $black-3;
// 		height: 100%;
// 		padding: 5px 20px;
// 		.value {
// 			display: inline-block;
// 			@include FiraSans-5(1rem, 200, $white-3, 0px, center);
// 		}
// 		.label {
// 			@include FiraSans-5(0.8rem, 400, $white-0, 2px, left);
// 			margin-right: 10px;
// 			display: inline-block;
// 		}
// 	}

// 	.momentum.box {
// 		float: right;
// 		width: 18%;
// 		.value, .label {
// 			text-align: center;
// 		}
// 	}

// 	.outlook.box {
// 		float: right;
// 		text-align: center;
// 		.value, .label {
// 			text-align: center;
// 		}
// 	}
// }

// section.working {
// 	@include Gradient-0-62-100($white-2, $white-3);
// 	width: 62%;
// 	float: left;
// }

// section.skills {
// 	@include Gradient-0-62-100($white-1, $white-2);
// 	border-left: 1px solid $white-0;
// 	width: 38%;
// 	float: right;
// }

// section.statement {
// 	width: 62%;
// 	border-bottom: 1px solid $white-0;
	
// 	@include Gradient-0-62-100($white-2, $white-3);
// 	p {
// 		@include FiraSans-5(1.2rem, 200, $black-3, 0px, left);
// 		font-style: italic;
// 		margin: 0px 20px;
// 		margin-bottom: 20px;
// 	}
// }