//- large.styl
//- for screens >1200px

//
h1
	// FiraSans-5(4rem, 700, White, -0.05em, left)
	font-size 4rem
	
	.subtitle
		text-align left
		// margin-top -1em
	
nav
	// VerticalAlign()
	ul
		// display table
		text-align right
		li
			// display table-cell
			list-style-type none
			
			a
				FiraSans-5(1rem, 200, Light, 0.111111em, left)
				text-transform uppercase
				text-decoration none
				// padding 20px 30px
				&:hover
					color Red
		

	