//- small.styl
//- styles for screens less than 768px wide

// #site-title
// 	padding 30px 50px
// 	width 100%
// 	// background Black

// 	&>*
// 		display block
// 		// vertical-align baseline
// 	h1
// 		width 100%
// 		text-align center
// 		.subtitle
// 			text-align center
// 	// -webkit-transform translateY(-8%)
// 	// transform translateY(-8%)
// nav
// 	// VerticalAlign()
// 	// position absolute
// 	// right 50px
	
// 	ul
// 		li
// 			display inline-block
// 			list-style-type none
			
// 			a
// 				FiraSans-5(1rem, 200, Light, 0.111111em, left)
// 				text-transform uppercase
// 				text-decoration none
// 				padding 20px 30px
// 				&:hover
// 					color Red