//- small.styl
//- styles for screens less than 768px wide

h2
	FiraSans-5(2rem, 700, Black, -0.05em, left)



//------------------
//- Top of the Page
//------------------

header
	left 3%

h1
	
	font-size 2.5rem
	text-align left
	.subtitle
		left 0
		text-align left

nav
	ul
		text-align right


#author
	.vertical-gradient
		display none
	.horizontal-gradient
		display block
