//- Style
//- Created: v2.4.0



// --- IMPORTED: Style Pre v2.4.0
//- Stylus version of index.css
//- Version 2.3.0

@import 'app-v2.4.0'

//-----------
//- Sections
//-----------
// section

// .container
	// Width-XS(12)

.left
	// background White
	position fixed
	// Width-XS(2)
	Width-SM(2)
	Width-MD(2)
	height 100vh
	display inline-block
	vertical-align top
	// border-right 1px solid Gray
	// padding-right 15px
	// background rgba(Black, 0.5)
	
	.logo
		// Width-XS(12)
		// Width-SM(6)
		// Width-MD(4)
		position absolute
		top 0
		right 0

	aside
		position relative
		top (266+15)px
		PersonalQuote(1rem, 200, White, -0.025em, right)
	
.right
	Offset-XS(3)
	Width-SM(9)
	Width-MD(9)
	height 100vh
	// display inline-block
	vertical-align top
	position relative
	// z-index -1
	top 36px
	
	
	

.logo
	position fixed
	// Width-XS(2)
	// Offset-XS(2)

.links
	Width-XS(12)
	Offset-XS(1)
	position relative
	top 50%
	-webkit-transform translateY(-50%)
	transform translateY(-50%)
	
	a
		padding 15px
		display block
		color White
		margin-bottom 50px
		border-left 5px solid transparent
		text-shadow 1px 1px 5px Black
		&:hover
			text-decoration none
			background rgba(black,0.2)
			border-left 5px solid White
			// text-shadow 3px 3px 1px Black
			// color Red
			// .title
			// 	color Red	


		.title
			FiraSans-5(3rem, 700, White, -0.05em, left)
			line-height 3rem
		.comment
			margin-left 25px
			Width-XS(9)
			PersonalQuote(1rem, 200, White, -0.025em, left)
			
			
.page
	// Width-XS(12)
	margin-top 36px	
	background White
	padding 30px
	height 1000px
			



figure
	Width-XS(12)
	&:not(#site-title)
		&>*
			padding-left 50px
			padding-right 50px
	&>*
		display inline-block
		vertical-align middle
		padding-top 40px
		
		&:last-child
			padding-bottom 40px
		&>*
			padding-top 10px
			&:first-child
				padding-top 0
			&:last-child
				padding-bottom 0
				
	h1, h2, h3, p
		color inherit
		
	&>header
		Width-XS(12)
		Width-SM(10)
		Width-MD(9)
		Width-LG(8)
		display block
		margin 0 auto
		&>*
			display inline-block
			vertical-align middle
		h2
			Width-XS(12)
			Width-SM(4)
			padding-right 0
			
		p
			Width-XS(12)
			Width-SM(8)
			padding-left 0
	
	figure
		Width-XS(12)
		overflow hidden
		padding 0 !important
		img
			display block
			width 100%
	
	.text
		Width-XS(12)
	
	.skills-container
		padding-top 70px
		margin 0 auto
		Width-XS(12)
		
		&:last-child
			padding-bottom 70px

		&:not(:last-child)
			
			Width-SM(6)
			display inline-block
			vertical-align top


		h3
			width 100%
			text-align center
		.skills
			text-align center

			.skill
				Skill(transparent, White, Red)
				font-size 1.25em
				padding 0.25em 1.1em
				margin-bottom 15px
				&:not(:last-child)
					margin-right 15px
					
	.project
		padding-top 70px
		padding-bottom 70px	

#author
	background White
	color Black
	
	figure
		Width-MD(6)
	.text
		Width-MD(6)
	
#skills
	background Black
	color White
	
#projects
	background White
	color Black
	.projects
		Width-XS(12)

//--------------------
// Image Detail Modal
// version 2.2.3
//--------------------

ModalButton(ht, wd)
	position absolute
	z-index 101
	height ht
	width wd
	background rgba(Black, 0.6)
	color rgba(White, 0.6)
	cursor pointer
	line-height ht
	text-align center
	&:hover
		background rgba(Black,0.9)
		color rgba(White, 1.0)
		text-decoration none
ModalButton()
	position absolute
	z-index 101
	height 60px
	width 60px
	background rgba(Red, 0.6)
	color rgba(White, 0.6)
	cursor pointer
	line-height 60px
	text-align center
	font-size 1.25em
	&:hover
		background rgba(Black,0.9)
		color rgba(White, 1.0)
		text-decoration none
	&:active
		background rgba(Red,0.9)
		


#modal
	display block
	position fixed
	Width-XS(12)
	height 100vh
	top 0
	left 0
	background rgba(Black,0.9)
	z-index 100
	text-align center
		
	figure
		Width-XS(8)
		height 80%
		position relative
		top 50%
		-webkit-transform translateY(-50%)
		transform translateY(-50%)
		margin 0 auto
		text-align center
		overflow hidden
		
		// .slider
		// 	position relative
		// 	top 0
		// 	left 0
		// 	display block
		// 	height 100%
			
		.slide
			Width-XS(12)
			height 100%
			position absolute
			display inline-block
			text-align center
			overflow hidden
			left 0
			img
				position relative
			img.landscape
				top 50%
				-webkit-transform translateY(-50%)
				transform translateY(-50%)
				
						

	figcaption
		position absolute
		width 100%
		bottom 0
		background rgba(Black,0.9)
		color White
		padding 20px 30px

	.page-display
		position absolute
		Width-XS(12)
		text-align center
		top 30px
		color White

	.modal-button
		ModalButton()
		
		.shortcut-hint
			color White
			font-size 0.8rem
			line-height 0.8rem
			text-align center
			margin-top 0.5rem

		a
			color White
			// ModalButton()
			// color
		

	.close
		top 0
		left 0
		// ModalButton()
		
	.arrow
		// background rgba(Red, 0.8)
		top 50%
		-webkit-transform translateY(-100%)
		transform translateY(-100%)
		// ModalButton()
		&.left
			left 0
		&.right
			right 0
			
// Styling for Projects
// version 2.2.3

.project
	list-style-type none
	
	
	// .title
	// 	// padding 15px
	// 	Width-XS(12)
	// 	margin-bottom 5px
	// 	h3
	// 		FiraSans-5(1.75rem, 700, Black, -0.06em, left)
	// 		line-height 1.5rem
		
				
		
	.detail
		padding 15px	

	//--------------
	// Image Slider
	//--------------
	figure
		// Width-SM(6)
		background Black
		overflow hidden
		height 100%
		position relative
		z-index 10
		cursor pointer
		
		img
			margin 0 auto
			&:not(a)
				:not(:first-child)
					display none
		// img:first-child:not(a)
		// 	display block !important
	
		&:hover a.image
			opacity 1
		
		a.image
			opacity 0
			position absolute
			bottom 0
			text-align center
			width 100%
			background rgba(Red,0.7)
			padding 10px
			color White
			&:hover
				text-decoration none


		&:hover .navigation
			opacity 1



// - Media Queries
@media (min-width: 768px) {
	@import 'responsive/small'
}

@media (min-width: 992px) {
	@import 'responsive/medium'
}

@media (min-width: 1200px) {
	@import 'responsive/large'
}

