

	// Defined Colors
	$orange1-l: #eb7125;
	$orange1-d: #ce6421;

	// Assigned Colors
	$illustrator-l: $orange1-l;
	$illustrator-d: $orange1-d;
	$ruby-l: #A42028;
	$ruby-d: #9B1F31;


// COLORS
	// Lightest
	$white-3: #fafafa;
	$white-2: #eeeeee;
	$white-1: #d8d8d8;
	$white-0: #bcbcbc;
	$gray-3: #ababab;
	$gray-2: #979797;
	$gray-1: #888686;
	$gray-0: #666666;
	$black-3: #575452;
	$black-2: #3D3C3C;
	$black-1: #353434;
	$black-0: #171413;
	// Darkest

	// REMOVE THIS SHIT
	$white-10: $white-3;
	$white-9: $white-2;
	$white-8: $white-1;
	$gray-8: $white-0;
	$gray-7: $gray-3;
	$gray-6: $gray-2;
	$gray-5: $gray-1;
	$gray-4: $gray-0;


@import "_fira-sans.scss";
@import "_cards.scss";
@import "_std-style.scss";


/* UTILITY */
*,
*:before,
*:after {
	box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html{
	background: #1f1f1f;
	@include FiraSans-5(16px, 500, $white-3, -1px, left);
	@include Gradient-0-62-100($black-0, $black-2);

	// background: url("../images/bg.png") no-repeat center center fixed;
 //        -webkit-background-size: cover;
 //        -moz-background-size: cover;
 //        -o-background-size: cover;
 //        background-size: cover;
    // background: red;
}

.none { 
	display: none !important; 
	* {
		display: none !important;
	}
}

#title {
	width: 500px;
	margin: 0 auto;
	background: $gray-2;
}

.main-page {
	width: $std-wrapper-width;
	margin: 0 auto;
}

.box {
	float: left;
	display: inline-block;
	position: relative;
}

.value {
	@include FiraSans-5(1.5rem, 700, $white-2, -1px, left);
	@include TextShadow;

	&.large {
		font-size: 2.5rem;
		line-height: 2.5rem;
	}
}

.label {
	@include FiraSans-5(1rem, 400, $white-0, 1.5px, left);
	@include TextShadow;
	text-transform: uppercase;
}

h1 {
	@include FiraSans-5(7rem, 700, $white-3, -2px, left);
	text-shadow: 5px 5px 1px rgba(black, 0.1);
}

h2 {
	@include FiraSans-5(4.5rem, 700, $white-3, -2px, left);
	@include TextShadow;
}

h3 {
	@include FiraSans-5(1.8rem, 200, $gray-0, -2px, left);
}

nav {
	background: rgba($black-1, 0.2);
	width: 100%;

	ul {
		list-style-type: none;
		text-align: center;

		li {
			display: inline-block;
			padding: 10px 20px;
			margin: 0 50px;

			a {
				@include FiraSans-5(1rem, 800, $white-2, 0px, center);
				padding: 5px;
				text-decoration: none;
				text-transform: uppercase;
				background: rgba($black-1, 0.3);

				&:hover {
					// color: lighten($ruby-l, 10%);
				}
			}
		}
	}

	.menu {
		height: 100%;
		display: none;

		a {
			display: inline-block;
		}

		.home:hover & {

		}
	}
}

section {
	position: relative;
	float: left;
	width: 100%;
	padding: 20px;
}

section.admin {
	background: #a42028;

	h3 {
		color: $white-0; }

	.box {
		display: inline-block;
		margin-right: 50px; }
}

