// COLORS
	// (not quite 50) Shades of Gray
	$white-10: #fafafa;
	$white-9: #eeeeee;
	$white-8: #d8d8d8;
	$gray-7: #ababab;
	$gray-6: #979797;
	$gray-5: #888686;
	$gray-4: #666666;
	$black-3: #575452;
	$black-2: #3D3C3C;
	$black-1: #353434;
	$black-0: #171413;

	// Defined Colors
	$orange1-l: #eb7125;
	$orange1-d: #ce6421;

	// Assigned Colors
	$illustrator-l: $orange1-l;
	$illustrator-d: $orange1-d;
	$ruby-l: #A42028;
	$ruby-d: #9B1F31;

	// Standard Measurements
	$std-padding: 15px;

@import "_fira-sans.scss";
@import "_cards.scss";


/* UTILITY */
*,
*:before,
*:after{
	box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html{
	background: #252423;
	color: #fafafa;
	font-family: 'Fira Sans', Helvetica, sans-serif;
	text-align: center;
	font-size: 16px;
	letter-spacing: -1px;
	background: url("../images/bg.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    // background: red;
}

.none { 
	display: none !important; 
	* {
		display: none !important;
	}
}

/* '/views/std/' styling */
ul.std-list{
	width: 960px;
	margin: 0 auto;
	list-style-type: none;
}

li.std {
	width:100%;
	height: 120px;
	margin-bottom: $std-padding / 2;

	.std-item{
		// DEBUG

		$color-bar-width: 20px;
		// ----

		width: 100%;
		height: 100%;

		background: $black-2;
		padding: 10px;
		float: left;
		border-radius: 10px;

		&:hover {
			cursor: pointer;
			background: $black-3;
		}


		.box {
			float: left;
			display: inline-block;
			position: relative;
		}

		.value {
			display: inline-block;
			font-size: 2rem;
		}

		.label {
			// width: 100%;
			@include FiraSans-5(1rem, 800, $gray-6, 2px, center);
			position: absolute;
			bottom: 5px;
		}

		.color.box {
			width: $color-bar-width;
			height: 100%;
		}

		.id.box {
			background: $white-10;
			// width: 10%;
			height: 100%;
			padding: $std-padding;

			.value {
				@include FiraSans-5 (3.2rem, 800, $black-1, -1.75px, center);
				position: relative;
				top: -5px;
			}
		}

		.title.box {
			width: auto;
			height: 100%;
			padding: $std-padding;

					
			.value {
				position: relative;
				top: -5px;
				@include FiraSans-5 (3.2rem, 800, $white-10, -1.5px, left);
			}
		}
	}
}












#title {
	width: 500px;
	margin: 0 auto;
	// position: relative;
	// top: 50px;
	background: $gray-7;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.6rem;
}

nav {
	// position: relative;
	background: $black-1;
	ul {
		list-style-type: none;
		li {
			display: inline-block;
			margin-right: 50px;

			a {
				@include FiraSans-3(1.2rem, 800, $white-9);
				padding: 5px;
				text-decoration: none;

				&:hover {
					color: $ruby-l;
				}
			}
		}
	}
}



