
$scale: 2;

@mixin VerticalAlign($pos) {
	position: $pos;
	top: 50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.card {
	width: 250px * $scale;
	height: 400px * $scale;
	background: $black-2;

	border-radius: 10px * $scale;
	overflow: hidden;
	padding: 20px;

	margin: 0 auto;

	display: inline-block;

	.body {
		width: 100%;
		height: 100%;
		background: $black-1;

		// card defaults
		.box {
			float: left;
			position: relative;
		}

		.value {
			font-size: 1rem * $scale;
		}

		.label {
			font-size: 1rem * $scale;
			font-weight: 800;
			letter-spacing: 0px;
			
		}

		// individual boxes
		.overall.box {
			background: $white-10;
			width: 40%;
			height: 25%;

			.value{
				@include FiraSans-5 (6.4rem * $scale, 800, $black-1, -1.75px, center);
				@include VerticalAlign(relative);
			}
			.label{
				width: 100%;
				font-size: 1rem * $scale;
				color: $orange1-l;
				position: absolute;
				bottom: 5px;
			}
			.glass{
				position: absolute;
				bottom: 0;
				right: 5px;
				color: $orange1-l;
			}
		}

		.faux-stats.box{
			width: 60%;
			height: 17%;
			background: $black-3;

			.xp.box {
				width: 60%;
				height: 100%;
				.value {
					@include VerticalAlign(relative);
				}
				.label {
					font-size: 1rem * $scale;
					position: absolute;
					bottom: 5px;
					text-align: center;
					width: 100%;
				}
			}
			.outlook.box {
				width: 40%;
				height: 100%;
				.value {
					@include VerticalAlign(relative);
				}
				.label {
					font-size: 1rem * $scale;
					position: absolute;
					bottom: 5px;
					text-align: center;
					width: 100%;
				}
			}
		}

		.rating.box{
			width: 60%;
			height: 8%;
			background: $gray-7;
			.value {
				@include VerticalAlign(relative);
			}
		}

		.title.box {
			background: $illustrator-l;
			width: 100%;
			height: 14%;
			padding: 10px;
			
			.value {
				@include FiraSans-5 (2.4rem * $scale, 800, $white-10, -1.5px, left);
				@include VerticalAlign(relative);
			}
		}

		.since.box {
			width: 30%;
			height: 8%;
			background: $illustrator-l;
		}
		.see-all.box {
			width: 70%;
			height: 8%;
			background: $black-3;

			.label {
				@include VerticalAlign(relative);
			}
		}
		.timeline.box {
			width: 100%;
			height: 20%;
			background: $black-1;

			.label {
				@include VerticalAlign(relative);
			}
		}
		.projects.box {
			background: $white-10;
			height: 33%;
			width: 100%;
			overflow: hidden;

			.proj.box {
				width: 100%;
				height: 33.4%;
				background: $gray-5;

				&.disabled {
					background: $black-3;
					
				}

				.number.box {
					width: 20%;
					height: 60%;
					background: $white-10;

					&.disabled { background: transparent; }

					.value {
						@include FiraSans-3 (2.4rem * $scale, 800, $black-1);
						@include VerticalAlign(relative);
						&.disabled { color: $gray-6; }
					}
				}

				.time.box {
					width: 20%;
					height: 40%;
					background: $white-10;

					&.disabled { background: transparent; }

					.value {
						@include FiraSans-3 (0.6rem * $scale, 800, $illustrator-l);
						@include VerticalAlign(relative);
						&.disabled { color: $gray-5; }
					}
				}

				.title.box {
					width: 80%;
					height: 60%;
					background: $illustrator-l;

					&.disabled { background: transparent; }

					.value {
						@include FiraSans-5 (1.6rem * $scale, 800, $white-10, auto, left);
						@include VerticalAlign(relative);
						&.disabled { color: $gray-6; }
					}
				}

				.subtitle.box {
					width: 80%;
					height: 40%;
					background: $illustrator-l;

					&.disabled { background: transparent; }
					
					.value {
						@include FiraSans-5 (0.6rem * $scale, 400, $black-1, auto, left);
						@include VerticalAlign(relative);
						&.disabled { color: $gray-5; }
					}
				}
			}
		}
	}
}