// (not quite 50) Shades of Gray

$white-10: #fafafa;
$white-9: #eeeeee;
$white-8: #d8d8d8;
$gray-7: #ababab;
$gray-6: #979797;
$gray-5: #888686;
$gray-4: #666666;
$black-3: #575452;
$black-2: #3D3C3C;
$black-1: #353434;
$black-0: #171413;

// Defined Colors
$orange1-l: #eb7125;
$orange1-d: #ce6421;

// Assigned Colors
$illustrator-l: $orange1-l;
$illustrator-d: $orange1-d;
$ruby-l: #A42028;
$ruby-d: #9B1F31;