// APP-WIDE MODEL REPRESENTATIONS
// version 0.7.0



//
// SKILLS
//

ul.skill {
	position: relative;
	width: 100%;
}

li.skill {
	position: relative;
	list-style-type: none;
	width: 100%;
	float: left;
	cursor: pointer;

	&:hover{
		background: red;
	}

	.box {
		float: right;
		position: relative;
		height: 100%;
		padding: 5px 10px;
	}

	.title {
		@include FiraSans-5(2em, 400, $white-2, -1px, left);
		@include TextShadow;
		padding: 0.25em 0.5em;
		float: left;
	}

	.value {
		@include FiraSans-5(2em, 400, $white-2, -1px, left);
		@include TextShadow;
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	.label {
		@include FiraSans-5(0.7em, 400, $gray-0, 1.5px, center);
	}

	.arrow {
		position: absolute;
		right: 0.5em;
		top: 40%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}










//
// PROJECTS
//

ul.project {
	// DEBUG
	background: yellow;
	// -----
	position: relative;
	width: 100%;

}

li.project {
	$root-z-index: 0;
	position: relative;
	list-style-type: none;
	height: 200px;
	width: 100%;
	float: left;
	cursor: pointer;
	overflow: hidden;
	padding: 10px 20px;

	img {
		width: 100%;
		position: absolute;
		left: 0;
		top: 30%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		z-index: $root-z-index + 1;
	}

	.title {
		display: inline-block;
		position: relative;
		z-index:$root-z-index + 2;
		h4 {
			@include FiraSans-5(2em, 700, $white-2, -1px, left);
			@include TextShadow;
		}

		.label {
			color: $white-2;
		}
	}
}

