// Styling Mixins
@mixin VerticalAlign($pos) {
	position: $pos;
	top: 50%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin TextShadow {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

@mixin Gradient-0-62-100($dark-color, $light-color) {
	background: $dark-color;
	background: -moz-linear-gradient(left,  $dark-color 0%, $light-color 62%, $dark-color 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,$dark-color), color-stop(62%,$light-color), color-stop(100%,$dark-color));
	background: -webkit-linear-gradient(left,  $dark-color 0%,$light-color 62%,$dark-color 100%);
	background: -o-linear-gradient(left,  $dark-color 0%,$light-color 62%,$dark-color 100%);
	background: -ms-linear-gradient(left,  $dark-color 0%,$light-color 62%,$dark-color 100%);
	background: linear-gradient(to right,  $dark-color 0%,$light-color 62%,$dark-color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-color', endColorstr='$dark-color',GradientType=1 );

}

// Standard Measurements
	$std-padding: 15px;
	$std-wrapper-width: 960px;

// LISTS
ul.std{
	width: $std-wrapper-width;
	margin: 0 auto;
	list-style-type: none;
}

li.std {
	width: 100%;
	height: 120px;
	margin-bottom: $std-padding / 2;

	.std-item{
		// DEBUG

		$color-bar-width: 20px;
		// ----

		width: 100%;
		height: 100%;

		background: $black-2;
		padding: 10px;
		float: left;
		border-radius: 10px;

		&:hover {
			cursor: pointer;
			background: $black-3;
		}
		
		.value {
			display: inline-block;
			font-size: 2rem;
		}

		.label {
			// width: 100%;
			@include FiraSans-5(1rem, 800, $gray-2, 2px, center);
			position: absolute;
			bottom: 5px;
		}

		.color.box {
			width: $color-bar-width;
			height: 100%;
		}

		.id.box {
			background: $white-3;
			// width: 10%;
			height: 100%;
			padding: $std-padding;

			.value {
				@include FiraSans-5 (3.2rem, 800, $black-1, -1.75px, center);
				position: relative;
				top: -5px;
			}
		}

		.title.box {
			width: auto;
			height: 100%;
			padding: $std-padding;

					
			.value {
				position: relative;
				top: -5px;
				@include FiraSans-5 (3.2rem, 800, $white-3, -1.5px, left);
			}
		}
	}
}
// FORMS
.field.std {
	width: $std-wrapper-width / 2;
	margin: 0 auto;
	margin-bottom: $std-padding / 2;
}

label.std {
	width: 100px;
	padding: $std-padding;
	float: left;
	text-align: right;
	color: $gray-0;
}

input.std {
	padding: $std-padding;
	@include FiraSans-5 (2rem, 800, $black-1, -1.75px, center);
	width: $std-wrapper-width / 2 - 100px;
}

// TABLES
table.std {
	width: $std-wrapper-width;
	margin: 0 auto;
}

thead.std {
	background: $black-1;
	padding: $std-padding;
}

td.std {
	background: $black-3;
	padding: $std-padding;
}