@import "_application.scss";

.project-tag {
	padding: 3px 10px;
	display: inline-block;
	border-radius: 5px;

	.value {
		@include FiraSans-5(0.875rem, 700, $white-3, 0px, center);
	}
}

section.description {
	@include Gradient-0-62-100($white-1, $white-2);
	width: 62%;
	float: left;
	border: 3px solid $gray-0;
	border-top: none;

	p {
		padding: 10px 20px;
		@include FiraSans-3(1.2rem, 400, $black-3);
	}
}

section.skills {
	padding: 0;
	width: 38%;
	background: $white-8;
	float: right;
	border: 3px solid $gray-0;
	border-top: none;
	border-left: none;
}