@import "_fira-sans.scss";



// COLORS
	// Lightest
	$white-3: #fafafa;
	$white-2: #eeeeee;
	$white-1: #d8d8d8;
	$white-0: #bcbcbc;
	$gray-3: #ababab;
	$gray-2: #979797;
	$gray-1: #888686;
	$gray-0: #666666;
	$black-3: #575452;
	$black-2: #3D3C3C;
	$black-1: #353434;
	$black-0: #171413;
	// Darkest

.none { 
	display: none !important; 
	* {
		display: none !important;
	}
}

*,
*:before,
*:after {
	box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html{
	@include FiraSans-5(16px, 500, $white-3, -1px, left);
}

nav {
	background: $white-3;
	width: 100%;

	ul {
		list-style-type: none;
		text-align: center;

		li {
			display: inline-block;
			padding: 10px 20px;
			margin: 0 50px;

			a {
				@include FiraSans-5(1rem, 400, $gray-3, 0px, center);
				padding: 5px;
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					color: red;
					background: $white-2;
				}
			}
		}
	}
}



#resume {
	border: 1px solid $white-2;
	height: 960px;


	background: $white-3;
	color: $black-0;
	width: 960px;
	margin: 30px auto;
	padding: 20px 30px;
}

section {
	margin-left: 20%;
	border-bottom: 1px solid $white-0;
}

section.title {
	height: auto;
	margin-left: 0;

	header {
		
	}

}

.update {
	color: red;
}