@import "_application.scss";

$skill-tag-padding: 5px;

.skill-tag {
	padding: 3px 10px;
	display: inline-block;
	border-radius: 5px;

	.value {
		@include FiraSans-5(0.875rem, 700, $white-10, 0px, center);
	}
}

section.title {
	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

section.subtitle {

	.momentum.box {
		float: right;
		width: 18%;
		padding: 7px 20px;
		.value, .label {
			text-align: center;
		}
	}

	.outlook.box {
		float: right;
		text-align: center;
		padding: 7px 20px;
		.value, .label {
			text-align: center;
		}
	}
}

section.description {
	@include Gradient-0-62-100($black-2, $black-3);
	padding: 5px 20px;

	* {
		display: inline-block;
	}

	.label {
		margin-right: 20px;
	}

	.value {
		font-size: 1.25rem;
		font-weight: 200;
		text-shadow: none;
		font-style: italic;
	}
}

section.projects {
	@include Gradient-0-62-100($white-0, $white-1);
	width: 62%;
	float: left;
	border-top: none;
}

section.experience {
	@include Gradient-0-62-100($white-1, $white-2);
	width: 38%;
	float: right;
	border-left: 1px solid $white-0;

	.row {
		width: 100%;
		padding: 3%;
		float: left;
	}

	.label {
		font-size: 0.8rem;
		color: $gray-0;
		text-align: center;
	}

	.value {
		@include FiraSans-5(1.75rem, 400, $gray-0, 0px, center);
	}

	.box {
		width: 33.3%;
		height: 100%;
		* {
			text-align: center;
		}
	}
}

