@import "_application.scss";

ul {
	// DEBUG
	// background: lighten(red, 40%);
	// border: 1px red solid;
	// -----

	width: 960px;
	margin: 0 auto;
	
}

li {
	// DEBUG
	// background: lighten(blue, 40%);
	// border: 1px blue solid;
	// -----

	width: 50%;
	display: inline-block;
	padding: 5px;
	list-style-type: none;
}