//- List Projects
//- version 0.5.0
//- arguments:
	objects: Array - list of all the skills to display
extends ./projects.jade

block projects_page
	.main-page
		h1 Projects
			//- span= objects.length
		+list(objects)
			each project in objects
				+item(project, false)(onclick="location.href='/projects/#{project.id}'")