@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
.container-fluid {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.container {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: url("../images/grassy-field.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  letter-spacing: -1px;
  text-align: left;
}
h1 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: 3rem;
  color: #fafafa;
}
h2 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 2.25rem;
}
h3 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #303030;
  letter-spacing: 0em;
  text-align: left;
  line-height: 1.5rem;
}
p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #303030;
  letter-spacing: 0.03125em;
  text-align: justify;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
#leftside {
  position: fixed;
  border: #ff0 1px solid;
}
@media (min-width: 768px) {
  #leftside {
    width: 33.33333333%;
  }
}
#leftside .logo {
  position: absolute;
  top: 0;
  right: 0;
}
#leftside aside {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #fafafa;
  letter-spacing: -0.025em;
  text-align: right;
  font-style: italic;
  position: absolute;
  top: 200px;
  padding: 15px;
}
#rightside {
  position: relative;
  top: 36px;
  position: absolute;
}
@media (min-width: 768px) {
  #rightside {
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  #rightside {
    left: 33.33333333%;
  }
}
#site-title {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 36px;
  background: #000;
}
.logo {
  width: 150px;
  height: 200px;
  font-size: 36px;
  background: #b8432a;
  text-align: left;
  z-index: 101;
}
.logo h1 {
  position: absolute;
  left: 0.270833em;
  bottom: 0.6666667em;
  font-size: 1em;
  line-height: 0.83333em;
  text-align: left;
}
.logo .subtitle {
  position: absolute;
  left: 1.25em;
  bottom: 1.25em;
  font-size: 0.25em;
  color: #ffa780;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
}
.project {
  background: #ddd;
  margin-bottom: 20px;
  padding: 0 30px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .project {
    width: 100%;
  }
}
.project ul {
  list-style-type: none;
}
.project>* {
  display: inline-block;
  vertical-align: middle;
}
.project .title {
  margin: 15px 0;
}
@media (min-width: 768px) {
  .project .title {
    width: 66.66666667%;
  }
}
.project .descriptors {
  text-transform: uppercase;
}
.project .descriptors .brackets {
  color: #909090;
  font-weight: 400;
}
.project .points {
  text-transform: uppercase;
}
.project .points .point {
  margin-top: 10px;
}
.project figure {
  background: #303030;
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 768px) {
  .project figure {
    width: 33.33333333%;
  }
}
.project figure img {
  display: block;
  margin: 0 auto;
}
.project figure img:not(a) :not(:first-child) {
  display: none;
}
.project figure:hover a.image {
  opacity: 1;
}
.project figure a.image {
  opacity: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgba(184,67,42,0.7);
  padding: 10px;
  color: #fafafa;
}
.project figure a.image:hover {
  text-decoration: none;
}
.project figure:hover .navigation {
  opacity: 1;
}
#site-footer {
  background: #000;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  height: 36px;
  width: 100%;
}
#site-footer>*:first-child {
  margin: 0 auto;
}
#site-footer p {
  color: #909090 !important;
  text-align: center;
  padding: 50px 12.5%;
  font-size: 10px;
}
#site-footer p .updated {
  margin-top: 10px;
  text-align: center;
}
