@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format("woff"), url("../../fonts/FiraSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format("woff"), url("../../fonts/FiraSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format("woff"), url("../../fonts/FiraSans-Regular.ttf") format("truetype"); }
.card {
  width: 100%;
  height: 100%;
  background: #3D3C3C;
  padding: 10px;
  float: left;
  border-radius: 10px; }

.body {
  width: 100%;
  height: 100%;
  background: #353434; }
  .body .box {
    float: left;
    display: inline-block;
    position: relative; }
  .body .value {
    font-size: 2rem; }
  .body .label {
    width: 100%;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0px;
    position: absolute;
    bottom: 5px; }

.title.box {
  width: 100%;
  padding: 10px; }
  .title.box .value {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 800;
    color: #fafafa;
    letter-spacing: -1.5px;
    text-align: left; }

.faux-stats.box {
  width: 100%;
  height: 150px;
  background: #575452; }
  .faux-stats.box .label {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 800;
    color: #979797;
    letter-spacing: auto;
    text-align: center; }
  .faux-stats.box .overall.box {
    background: #fafafa;
    width: 40%;
    height: 100%; }
    .faux-stats.box .overall.box .value {
      font-family: 'Fira Sans', Helvetica, sans-serif;
      font-size: 6.4rem;
      font-weight: 800;
      color: #353434;
      letter-spacing: -1.75px;
      text-align: center;
      position: relative;
      top: -5px; }
  .faux-stats.box .xp.box {
    width: 30%;
    height: 75%; }
    .faux-stats.box .xp.box .value {
      font-family: 'Fira Sans', Helvetica, sans-serif;
      font-size: 1.8rem;
      font-weight: 800;
      color: #eeeeee;
      letter-spacing: -1.75px;
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .faux-stats.box .outlook.box {
    width: 30%;
    height: 75%; }
    .faux-stats.box .outlook.box .value {
      font-family: 'Fira Sans', Helvetica, sans-serif;
      font-size: 1.8rem;
      font-weight: 800;
      color: #eeeeee;
      letter-spacing: -1.75px;
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
  .faux-stats.box .rating.box {
    width: 60%;
    height: 25%;
    background: #ababab; }
    .faux-stats.box .rating.box .value {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }

ul.std {
  width: 960px;
  margin: 0 auto;
  list-style-type: none; }

li.std {
  width: 100%;
  height: 120px;
  margin-bottom: 7.5px; }
  li.std .std-item {
    width: 100%;
    height: 100%;
    background: #3D3C3C;
    padding: 10px;
    float: left;
    border-radius: 10px; }
    li.std .std-item:hover {
      cursor: pointer;
      background: #575452; }
    li.std .std-item .value {
      display: inline-block;
      font-size: 2rem; }
    li.std .std-item .label {
      font-family: 'Fira Sans', Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: 800;
      color: #979797;
      letter-spacing: 2px;
      text-align: center;
      position: absolute;
      bottom: 5px; }
    li.std .std-item .color.box {
      width: 20px;
      height: 100%; }
    li.std .std-item .id.box {
      background: #fafafa;
      height: 100%;
      padding: 15px; }
      li.std .std-item .id.box .value {
        font-family: 'Fira Sans', Helvetica, sans-serif;
        font-size: 3.2rem;
        font-weight: 800;
        color: #353434;
        letter-spacing: -1.75px;
        text-align: center;
        position: relative;
        top: -5px; }
    li.std .std-item .title.box {
      width: auto;
      height: 100%;
      padding: 15px; }
      li.std .std-item .title.box .value {
        position: relative;
        top: -5px;
        font-family: 'Fira Sans', Helvetica, sans-serif;
        font-size: 3.2rem;
        font-weight: 800;
        color: #fafafa;
        letter-spacing: -1.5px;
        text-align: left; }

.field.std {
  width: 480px;
  margin: 0 auto;
  margin-bottom: 7.5px; }

label.std {
  width: 100px;
  padding: 15px;
  float: left;
  text-align: right;
  color: #666666; }

input.std {
  padding: 15px;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: #353434;
  letter-spacing: -1.75px;
  text-align: center;
  width: 380px; }

table.std {
  width: 960px;
  margin: 0 auto; }

thead.std {
  background: #353434;
  padding: 15px; }

td.std {
  background: #575452;
  padding: 15px; }

/* UTILITY */
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background: #1f1f1f;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fafafa;
  letter-spacing: -1px;
  text-align: left;
  background: #171413;
  background: -moz-linear-gradient(left, #171413 0%, #3D3C3C 62%, #171413 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #171413), color-stop(62%, #3D3C3C), color-stop(100%, #171413));
  background: -webkit-linear-gradient(left, #171413 0%, #3D3C3C 62%, #171413 100%);
  background: -o-linear-gradient(left, #171413 0%, #3D3C3C 62%, #171413 100%);
  background: -ms-linear-gradient(left, #171413 0%, #3D3C3C 62%, #171413 100%);
  background: linear-gradient(to right, #171413 0%, #3D3C3C 62%, #171413 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-color', endColorstr='$dark-color',GradientType=1 ); }

.none {
  display: none !important; }
  .none * {
    display: none !important; }

#title {
  width: 500px;
  margin: 0 auto;
  background: #979797; }

.main-page {
  width: 960px;
  margin: 0 auto; }

.box {
  float: left;
  display: inline-block;
  position: relative; }

.value {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #eeeeee;
  letter-spacing: -1px;
  text-align: left;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .value.large {
    font-size: 2.5rem;
    line-height: 2.5rem; }

.label {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #bcbcbc;
  letter-spacing: 1.5px;
  text-align: left;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase; }

h1 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 7rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -2px;
  text-align: left;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1); }

h2 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -2px;
  text-align: left;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

h3 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  color: #666666;
  letter-spacing: -2px;
  text-align: left; }

nav {
  background: rgba(53, 52, 52, 0.2);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }
  nav ul {
    list-style-type: none;
    text-align: center; }
    nav ul li {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 50px; }
      nav ul li a {
        font-family: 'Fira Sans', Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: 800;
        color: #eeeeee;
        letter-spacing: 0px;
        text-align: center;
        padding: 5px;
        text-decoration: none;
        text-transform: uppercase;
        background: rgba(53, 52, 52, 0.3); }
  nav .menu {
    height: 100%;
    display: none; }
    nav .menu a {
      display: inline-block; }

section {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px; }

h1 {
  font-size: 10rem;
  color: rgba(216, 216, 216, 0.5);
  font-weight: bold;
  text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=contexts.css.map */
