@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.none {
  display: none !important;
}
.none * {
  display: none !important;
}
.debug {
  border: 1px solid #e5c41e;
}
.debug * {
  border: 1px solid #e5c41e;
}
html {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #3d3c3c;
  letter-spacing: -1px;
  text-align: left;
}
h2 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #292929;
  letter-spacing: -3px;
  text-align: left;
  line-height: 1em;
}
h3 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #292929;
  letter-spacing: 0px;
  text-align: left;
}
.view {
  position: relative;
  padding-left: 200px;
}
.mainpage {
  position: relative;
  z-index: 0;
}
section.title {
  background: #a63f29;
  float: left;
  width: 100%;
  overflow: hidden;
}
section.title h2 {
  padding: 2% 3%;
  color: #fafafa;
}
section.subtitle {
  background: #292929;
  color: #fafafa;
  float: left;
  width: 100%;
  height: 50px;
}
section.content {
  background: #fafafa;
  color: #292929;
  float: left;
  width: 60%;
}
section.skills {
  background: #fafafa;
  color: #292929;
  float: right;
  width: 40%;
}
.sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #292929;
  color: #fafafa;
  z-index: 50;
}
.sidebar header {
  position: relative;
  height: 84px;
  background: #a63f29;
  padding: 8px 15px;
}
.sidebar header h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -1px;
  text-align: left;
  line-height: 30px;
}
.sidebar .contact li {
  width: 100%;
  padding: 8px 15px;
}
.sidebar .contact li .icon {
  display: inline;
  float: left;
}
.sidebar .contact li .value {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: #fafafa;
  letter-spacing: 1px;
  text-align: left;
  display: inline;
  float: right;
}
.sidebar .feature {
  background: #3d3c3c;
}
.sidebar .feature li {
  padding: 8px 15px;
}
.sidebar .feature a {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fafafa;
  letter-spacing: -1px;
  text-align: left;
  text-decoration: none;
  color: #fafafa;
}
.sidebar .overview li {
  padding: 8px 15px;
}
.sidebar .overview a {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: #fafafa;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #fafafa;
}
#resume {
  float: left;
  background: #fafafa;
  font-size: 16px;
  letter-spacing: 0px;
  padding: 2% 3%;
}
.indent {
  padding-left: 2em;
}
h2 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #292929;
  letter-spacing: -3px;
  text-align: left;
  line-height: 1em;
}
h3 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: #292929;
  letter-spacing: 0px;
  text-align: left;
}
span {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #292929;
  letter-spacing: 0px;
  text-align: left;
}
header.title {
  width: 100%;
  position: relative;
  float: left;
  border-bottom: 2px solid #ababab;
}
header.title header {
  width: 100%;
}
header.title ul.info {
  float: left;
}
header.title ul.links {
  float: right;
}
header.title li {
  padding: 0;
}
header.title li > * {
  display: inline-block;
}
header.title span.separator {
  color: #bcbcbc;
  margin-left: 0.2em;
}
header.title .icon {
  color: #a63f29;
  text-align: center;
  margin-right: 10px;
}
header.title .value {
  color: #888686;
}
section {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
}
section > * {
  width: 100%;
  display: block;
}
li header {
  position: relative;
  height: 50px;
}
li header>* {
  position: absolute;
}
li header h4 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #292929;
  letter-spacing: -1px;
  text-align: left;
  top: 0;
  left: 0;
}
li header .context {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #292929;
  letter-spacing: 0px;
  text-align: left;
  bottom: 0;
  left: 0;
}
li header .date {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  color: #292929;
  letter-spacing: -1px;
  text-align: left;
  font-style: italic;
  top: 0;
  right: 0;
}
li header .location {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #292929;
  letter-spacing: 0px;
  text-align: left;
  bottom: 0;
  right: 0;
}
.objective p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #292929;
  letter-spacing: 0px;
  text-align: left;
  font-style: italic;
}
