#site-title {
  padding-left: 20px;
}
#site-title>* {
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
}
#site-title h1 {
  text-align: left;
}
#site-title .subtitle {
  text-align: left;
}
.project .title {
  padding-right: 30px;
}
