@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: url("../images/grassy-field.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  letter-spacing: -1px;
  text-align: left;
}
h1 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: 3rem;
}
h2 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 2.25rem;
}
h3 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: #303030;
  letter-spacing: 0em;
  text-align: left;
  line-height: 1.5rem;
}
h4 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  color: #909090;
  letter-spacing: 0em;
  text-align: left;
}
p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #303030;
  letter-spacing: 0.03125em;
  text-align: justify;
}
#site-title {
  background: #000;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 36px;
  width: 100%;
}
.logo {
  height: 266px;
  width: 200px;
  background: #b8432a;
  position: absolute;
  text-align: left;
  font-size: 48px;
  z-index: 101;
}
.logo h1 {
  font-size: 1em;
  line-height: 0.83333em;
  position: absolute;
  left: 0.270833em;
  bottom: 0.6666667em;
  text-align: left;
}
.logo .subtitle {
  font-size: 0.25em;
  position: absolute;
  left: 1.25em;
  bottom: 1.25em;
  color: #ffa780;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
}
.page-header {
  background: transparent;
  position: relative;
  padding: 25px 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.page-header h2 {
  font-size: 3rem;
}
.project {
  background: #ddd;
  margin-bottom: 20px;
  padding: 0 30px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .project {
    width: 100%;
  }
}
.project ul {
  list-style-type: none;
}
.project>* {
  display: inline-block;
  vertical-align: middle;
}
.project .title {
  margin: 15px 0;
}
@media (min-width: 768px) {
  .project .title {
    width: 66.66666667%;
  }
}
.project .title h3 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.06em;
  text-align: left;
}
.project .descriptors {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  color: #b8432a;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}
.project .descriptors .brackets {
  color: #909090;
  font-weight: 400;
}
.project .points {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
  color: #555;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}
.project .points .point {
  margin-top: 10px;
}
.project figure {
  background: #303030;
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 768px) {
  .project figure {
    width: 33.33333333%;
  }
}
.project figure img {
  display: block;
  margin: 0 auto;
}
.project figure img:not(a) :not(:first-child) {
  display: none;
}
.project figure:hover a.image {
  opacity: 1;
}
.project figure a.image {
  opacity: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgba(184,67,42,0.7);
  padding: 10px;
  color: #fafafa;
}
.project figure a.image:hover {
  text-decoration: none;
}
.project figure:hover .navigation {
  opacity: 1;
}
.page {
  margin-top: 36px;
}
#site-footer {
  background: #000;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  height: 36px;
  width: 100%;
}
#site-footer>*:first-child {
  margin: 0 auto;
}
#site-footer p {
  color: #909090 !important;
  text-align: center;
  padding: 50px 12.5%;
  font-size: 10px;
}
#site-footer p .updated {
  margin-top: 10px;
  text-align: center;
}
#social-media>* {
  display: inline-block;
  vertical-align: top;
}
#social-media li:first-child a {
  padding-left: 0;
}
#social-media li a {
  color: #b8432a;
  padding: 0 20px;
}
#social-media li a:hover i {
  color: #303030;
}
#social-media li a i {
  font-size: 1.75em;
}
.skills {
  list-style-type: none;
}
.skills .skill {
  display: inline-block;
}
.skill {
  background: transparent;
  padding: 0.1em 0.8em;
  color: #fafafa;
  text-align: center;
  border-color: #b8432a;
  border-radius: 0.1em;
  border-width: 1px;
  cursor: default;
  letter-spacing: 0.05em;
}
.clearfix {
  clear: both;
}
.button {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #b8432a;
  letter-spacing: auto;
  text-align: center;
  width: 100%;
  border: 1px solid #b8432a;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .button {
    width: 66.66666667%;
  }
}
@media (min-width: 1200px) {
  .button {
    width: 50%;
  }
}
.button:hover {
  background: #b8432a;
  color: #fafafa;
  text-decoration: none;
}
.left {
  position: absolute;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) {
  .left {
    width: 16.66666667%;
  }
}
@media (min-width: 992px) {
  .left {
    width: 16.66666667%;
  }
}
.left .logo {
  position: absolute;
  top: 0;
  right: 0;
}
.left aside {
  position: relative;
  top: 281px;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #fafafa;
  letter-spacing: -0.025em;
  text-align: left;
  font-style: italic;
  text-align: right;
}
.right {
  height: 100vh;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 36px;
}
@media (min-width: 768px) {
  .right {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .right {
    width: 75%;
  }
}
.logo {
  position: fixed;
}
.links {
  width: 100%;
  position: relative;
  left: 8.33333333%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.links a {
  padding: 15px;
  display: block;
  color: #fafafa;
  margin-bottom: 50px;
  border-left: 5px solid transparent;
  text-shadow: 1px 1px 5px #303030;
}
.links a:hover {
  text-decoration: none;
  background: rgba(0,0,0,0.2);
  border-left: 5px solid #fafafa;
}
.links a .title {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 3rem;
}
.links a .comment {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #fafafa;
  letter-spacing: -0.025em;
  text-align: left;
  font-style: italic;
  text-align: right;
}
.page {
  width: 100%;
  margin-top: 36px;
  background: #fafafa;
  padding: 30px;
  height: 1000px;
}
figure {
  width: 100%;
}
figure:not(#site-title)>* {
  padding-left: 50px;
  padding-right: 50px;
}
figure>* {
  display: inline-block;
  vertical-align: middle;
  padding-top: 40px;
}
figure>*:last-child {
  padding-bottom: 40px;
}
figure>*>* {
  padding-top: 10px;
}
figure>*>*:first-child {
  padding-top: 0;
}
figure>*>*:last-child {
  padding-bottom: 0;
}
figure h1,
figure h2,
figure h3,
figure p {
  color: inherit;
}
figure>header {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  figure>header {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  figure>header {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  figure>header {
    width: 66.66666667%;
  }
}
figure>header>* {
  display: inline-block;
  vertical-align: middle;
}
figure>header h2 {
  width: 100%;
  padding-right: 0;
}
@media (min-width: 768px) {
  figure>header h2 {
    width: 33.33333333%;
  }
}
figure>header p {
  width: 100%;
  padding-left: 0;
}
@media (min-width: 768px) {
  figure>header p {
    width: 66.66666667%;
  }
}
figure figure {
  width: 100%;
  overflow: hidden;
  padding: 0 !important;
}
figure figure img {
  display: block;
  width: 100%;
}
figure .text {
  width: 100%;
}
figure .skills-container {
  padding-top: 70px;
  margin: 0 auto;
  width: 100%;
}
figure .skills-container:last-child {
  padding-bottom: 70px;
}
figure .skills-container:not(:last-child) {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) {
  figure .skills-container:not(:last-child) {
    width: 50%;
  }
}
figure .skills-container h3 {
  width: 100%;
  text-align: center;
}
figure .skills-container .skills {
  text-align: center;
}
figure .skills-container .skills .skill {
  background: transparent;
  padding: 0.1em 0.8em;
  color: #fafafa;
  text-align: center;
  border-color: #b8432a;
  border-radius: 0.1em;
  border-width: 1px;
  cursor: default;
  letter-spacing: 0.05em;
  font-size: 1.25em;
  padding: 0.25em 1.1em;
  margin-bottom: 15px;
}
figure .skills-container .skills .skill:not(:last-child) {
  margin-right: 15px;
}
figure .project {
  padding-top: 70px;
  padding-bottom: 70px;
}
#author {
  background: #fafafa;
  color: #303030;
}
@media (min-width: 992px) {
  #author figure {
    width: 50%;
  }
}
@media (min-width: 992px) {
  #author .text {
    width: 50%;
  }
}
#skills {
  background: #303030;
  color: #fafafa;
}
#projects {
  background: #fafafa;
  color: #303030;
}
#projects .projects {
  width: 100%;
}
#modal {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(48,48,48,0.9);
  z-index: 100;
  text-align: center;
}
#modal figure {
  width: 66.66666667%;
  height: 80%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
#modal figure .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  left: 0;
}
#modal figure .slide img {
  position: relative;
}
#modal figure .slide img.landscape {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#modal figcaption {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(48,48,48,0.9);
  color: #fafafa;
  padding: 20px 30px;
}
#modal .page-display {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
  color: #fafafa;
}
#modal .modal-button {
  position: absolute;
  z-index: 101;
  height: 60px;
  width: 60px;
  background: rgba(184,67,42,0.6);
  color: rgba(250,250,250,0.6);
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  font-size: 1.25em;
}
#modal .modal-button:hover {
  background: rgba(48,48,48,0.9);
  color: #fafafa;
  text-decoration: none;
}
#modal .modal-button:active {
  background: rgba(184,67,42,0.9);
}
#modal .modal-button .shortcut-hint {
  color: #fafafa;
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  margin-top: 0.5rem;
}
#modal .modal-button a {
  color: #fafafa;
}
#modal .close {
  top: 0;
  left: 0;
}
#modal .arrow {
  top: 50%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
#modal .arrow.left {
  left: 0;
}
#modal .arrow.right {
  right: 0;
}
.project {
  list-style-type: none;
}
.project .detail {
  padding: 15px;
}
.project figure {
  background: #303030;
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.project figure img {
  margin: 0 auto;
}
.project figure img:not(a) :not(:first-child) {
  display: none;
}
.project figure:hover a.image {
  opacity: 1;
}
.project figure a.image {
  opacity: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgba(184,67,42,0.7);
  padding: 10px;
  color: #fafafa;
}
.project figure a.image:hover {
  text-decoration: none;
}
.project figure:hover .navigation {
  opacity: 1;
}
@media (min-width: 768px) {
  #site-title {
    padding-left: 20px;
  }
  #site-title>* {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  #site-title h1 {
    text-align: left;
  }
  #site-title .subtitle {
    text-align: left;
  }
  section>header h2 {
    border-bottom: 0;
    border-right: 2px solid #b8432a;
    padding: 30px;
  }
  .project .title {
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  .site-title h1 {
    font-size: 3.3rem;
  }
  .site-title .subtitle {
    font-size: 0.825rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  h1 .subtitle {
    font-size: 1rem;
  }
  nav ul {
    text-align: right;
  }
  nav ul li {
    list-style-type: none;
  }
  nav ul li a {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: #ddd;
    letter-spacing: 0.111111em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #b8432a;
  }
  .image-slider .control .arrow {
    cursor: pointer;
    width: 10%;
    opacity: 0;
  }
  .image-slider .control:hover .arrow {
    opacity: 1;
  }
}
