@font-face {
  font-family: 'Fira Sans';
  font-weight: 200;
  src: url("../../fonts/FiraSans-Light.woff") format('woff'), url("../../fonts/FiraSans-Light.ttf") format('truetype'), url("../../fonts/FiraSans-Light.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  src: url("../../fonts/FiraSans-Regular.woff") format('woff'), url("../../fonts/FiraSans-Regular.ttf") format('truetype'), url("../../fonts/FiraSans-Regular.eot");
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  src: url("../../fonts/FiraSans-Bold.woff") format('woff'), url("../../fonts/FiraSans-Bold.ttf") format('truetype'), url("../../fonts/FiraSans-Bold.eot");
}
#modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(48,48,48,0.9);
  z-index: 100;
  padding: 60px;
}
#modal figure {
  position: relative;
  display: block;
  height: 100%;
  background: rgba(184,67,42,0.8);
}
#modal figure img {
  height: auto;
  width: 100%;
}
#modal figcaption {
  position: absolute;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  bottom: 0;
  background: rgba(48,48,48,0.9);
  color: #fafafa;
  padding: 20px 30px;
}
#modal .close {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 101;
  height: 60px;
  width: 60px;
  background: rgba(48,48,48,0.6);
  color: rgba(250,250,250,0.6);
  cursor: pointer;
  line-height: 60px;
  text-align: center;
}
#modal .close:hover {
  background: rgba(48,48,48,0.9);
  color: #fafafa;
  text-decoration: none;
}
#modal .arrow {
  top: 50%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  position: absolute;
  z-index: 101;
  height: 60px;
  width: 60px;
  background: rgba(48,48,48,0.6);
  color: rgba(250,250,250,0.6);
  cursor: pointer;
  line-height: 60px;
  text-align: center;
}
#modal .arrow:hover {
  background: rgba(48,48,48,0.9);
  color: #fafafa;
  text-decoration: none;
}
#modal .arrow.left {
  left: 0;
}
#modal .arrow.right {
  right: 0;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background: #fafafa;
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  letter-spacing: -1px;
  text-align: left;
}
h1 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: 3rem;
}
h2 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #303030;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 1.5rem;
}
h3 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #303030;
  letter-spacing: 0em;
  text-align: left;
  line-height: 1.5rem;
}
h4 {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  color: #909090;
  letter-spacing: 0em;
  text-align: left;
}
p {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #303030;
  letter-spacing: 0.03125em;
  text-align: justify;
}
a {
  color: #b8432a;
  font-weight: 400;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
a:active {
  color: #555;
}
img.landscape {
  height: auto;
  width: 100%;
}
img.portrait {
  height: 100%;
  width: auto;
}
#social-media>* {
  display: inline-block;
  vertical-align: top;
}
#social-media li:first-child a {
  padding-left: 0;
}
#social-media li a {
  color: #b8432a;
  padding: 0 20px;
}
#social-media li a:hover i {
  color: #303030;
}
#social-media li a i {
  font-size: 1.75em;
}
.skills {
  list-style-type: none;
}
.skills .skill {
  display: inline-block;
}
.skill {
  background: #b8432a;
  text-align: center;
  padding: 0.25em 1em;
  color: #fafafa;
  border-radius: 0.5em;
  cursor: default;
}
#site-title {
  background: #303030;
  color: #fafafa;
  width: 100%;
}
.site-title {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .site-title {
    width: 50%;
  }
}
.site-title h1 {
  display: block;
}
.site-title .subtitle {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 200;
  color: #b8432a;
  letter-spacing: 0.14em;
  text-align: center;
  line-height: 0.75rem;
  text-transform: uppercase;
  display: block;
  left: 4px;
  padding-top: 0;
}
nav {
  width: 100%;
  background: #303030;
  color: #fafafa;
}
@media (min-width: 768px) {
  nav {
    width: 50%;
  }
}
nav ul {
  width: 100%;
  display: table;
}
nav li {
  text-align: center;
  display: table-cell;
}
nav a {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #ddd;
  letter-spacing: 0.111111em;
  text-align: left;
  text-transform: uppercase;
  padding: 15px;
}
section {
  width: 100%;
}
section:not(#site-title)>* {
  padding-left: 20px;
  padding-right: 20px;
}
section>* {
  display: inline-block;
  vertical-align: middle;
  padding-top: 30px;
}
section>*:last-child {
  padding-bottom: 30px;
}
section>*>* {
  padding-top: 10px;
}
section>*>*:first-child {
  padding-top: 0;
}
section>*>*:last-child {
  padding-bottom: 0;
}
section h1,
section h2,
section h3,
section p {
  color: inherit;
}
section>header {
  width: 100%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  section>header {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  section>header {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  section>header {
    width: 66.66666667%;
  }
}
section>header>* {
  display: inline-block;
  vertical-align: middle;
}
section>header h2 {
  width: 100%;
  padding-right: 0;
}
@media (min-width: 768px) {
  section>header h2 {
    width: 33.33333333%;
  }
}
section>header p {
  width: 100%;
  padding-left: 0;
}
@media (min-width: 768px) {
  section>header p {
    width: 66.66666667%;
  }
}
section figure {
  width: 100%;
  overflow: hidden;
  padding: 0 !important;
}
section figure img {
  display: block;
  width: 100%;
}
section .text {
  width: 100%;
}
section .skills-container {
  padding-top: 70px;
  margin: 0 auto;
  width: 100%;
}
section .skills-container:last-child {
  padding-bottom: 70px;
}
section .skills-container:not(:last-child) {
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) {
  section .skills-container:not(:last-child) {
    width: 50%;
  }
}
section .skills-container h3 {
  width: 100%;
  text-align: center;
}
section .skills-container .skills {
  text-align: center;
}
section .skills-container .skills .skill {
  margin-bottom: 10px;
}
section .skills-container .skills .skill:not(:last-child) {
  margin-right: 10px;
}
section .project {
  padding-top: 70px;
  padding-bottom: 70px;
}
.button {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #b8432a;
  letter-spacing: auto;
  text-align: center;
  width: 100%;
  border: 1px solid #b8432a;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .button {
    width: 66.66666667%;
  }
}
@media (min-width: 1200px) {
  .button {
    width: 50%;
  }
}
.button:hover {
  background: #b8432a;
  color: #fafafa;
  text-decoration: none;
}
.project {
  list-style-type: none;
}
.project>* {
  display: inline-block;
  vertical-align: middle;
}
.project .title {
  width: 100%;
}
@media (min-width: 768px) {
  .project .title {
    width: 50%;
  }
}
.project .title header {
  width: 100%;
}
.project .title header>* {
  margin-top: 10px;
}
.project .title header>*:first-child {
  margin-top: 0;
}
.project .title .subtitle {
  font-family: 'Fira Sans', Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #b8432a;
  letter-spacing: 0.14em;
  text-align: left;
  line-height: 0.75rem;
  text-transform: uppercase;
}
.project .title>* {
  margin-top: 10px;
}
.project .title>*:first-child {
  margin-top: 0;
}
.project .title .skill {
  margin-bottom: 5px;
}
.project .title .skill:not(:last-child) {
  margin-right: 5px;
}
.project figure {
  background: #303030;
  overflow: hidden;
  height: 100%;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 768px) {
  .project figure {
    width: 50%;
  }
}
.project figure img,
.project figure:hover a.image {
  opacity: 1;
}
.project figure a.image {
  opacity: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background: rgba(184,67,42,0.7);
  padding: 10px;
  color: #fafafa;
}
.project figure a.image:hover {
  text-decoration: none;
}
.project figure:hover .navigation {
  opacity: 1;
}
.project figure .tray {
  position: absolute;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}
.project figure .slide {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  background: #303030;
  top: 0;
}
.project figure .slide>* {
  margin: 0 auto;
}
.project figure .page-display {
  position: absolute;
  color: #fafafa;
  background: #b8432a;
  z-index: 12;
  bottom: 0;
  right: 0;
  padding: 15px 30px;
}
.project figure .navigation {
  opacity: 0.5;
  background: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}
.project figure .navigation .arrow {
  background: #303030;
  position: absolute;
  height: 100%;
  width: 10%;
  z-index: 12;
  top: 0;
  cursor: pointer;
}
.project figure .navigation .arrow.left {
  left: 0;
}
.project figure .navigation .arrow.right {
  right: 0;
}
.project figure .navigation .arrow .fa {
  color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
}
.project figure .navigation .arrow .icon {
  color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  cursor: pointer;
  font-size: 2em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.project figure .navigation .arrow:active .arrow {
  background: #b8432a;
}
.clearfix {
  clear: both;
}
#author {
  background: #fafafa;
  color: #303030;
}
@media (min-width: 992px) {
  #author figure {
    width: 50%;
  }
}
@media (min-width: 992px) {
  #author .text {
    width: 50%;
  }
}
#skills {
  background: #303030;
  color: #fafafa;
}
#projects {
  background: #fafafa;
  color: #303030;
}
#projects .projects {
  width: 100%;
}
footer#site-footer {
  background: #303030;
  padding: 50px 12.5%;
  font-size: 10px;
}
footer#site-footer>*:first-child {
  margin: 0 auto;
}
footer#site-footer p {
  color: #909090 !important;
  text-align: center;
}
footer#site-footer .updated {
  margin-top: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  #site-title {
    padding-left: 20px;
  }
  #site-title>* {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  #site-title h1 {
    text-align: left;
  }
  #site-title .subtitle {
    text-align: left;
  }
  section>header h2 {
    border-bottom: 0;
    border-right: 2px solid #b8432a;
    text-align: right;
    padding-right: 30px;
  }
  section>header p {
    padding-left: 30px;
  }
  .project .title {
    padding-right: 30px;
  }
}
@media (min-width: 992px) {
  .site-title h1 {
    font-size: 3.3rem;
  }
  .site-title .subtitle {
    font-size: 0.825rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  h1 .subtitle {
    font-size: 1rem;
  }
  nav ul {
    text-align: right;
  }
  nav ul li {
    list-style-type: none;
  }
  nav ul li a {
    font-family: 'Fira Sans', Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: #ddd;
    letter-spacing: 0.111111em;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #b8432a;
  }
  .image-slider .control .arrow {
    cursor: pointer;
    width: 10%;
    opacity: 0;
  }
  .image-slider .control:hover .arrow {
    opacity: 1;
  }
}
