// App-Wide Styling
// v3.0.0

*,
*:before,
*:after
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	margin 0
	padding 0

//- Background Image
html  
	background url('../images/grassy-field.jpeg') no-repeat center center fixed 
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	

//--------------
//- Text Styles
//--------------

html
	FiraSans(16px, 500, Black, -1px, left)
h1
	FiraSans(3rem, 700, White, -0.05em, center)
	line-height 3rem
	color White
h2
	FiraSans(2.25rem, 700, Black, -0.05em, left)
	line-height 2.25rem
h3
	FiraSans(1.75rem, 400, Black, 0em, left)
	line-height 1.5rem
p
	FiraSans(1rem, 200, Black, 0.03125em, justify)
a
	text-decoration none
	// FiraSans( size, weight, color, spacing, align )
		
//--------
//- Lists
//--------
ul
	li
		list-style-type none
		


//- Special Components (from page top)

#site-title
	z-index 10
	
	position fixed
	top 0
	left 0
	Width-XS(12)
	background black






		

