//- Small Screen Style Overrides
//- Version 2.2.0

#site-title
	padding-left 20px
	&>*
		padding-top 15px
		padding-bottom 15px
		display inline-block
		vertical-align middle
	h1
		text-align left
	.subtitle
		text-align left

section
	&>header
		h2
			border-bottom 0
			border-right 2px solid Red
			// text-align right
			padding 30px
		p
			// padding-left 30px
			


.project
	.title
		padding-right 30px