//------------------
// App-wide Styling
// version 2.2.4
//------------------
*,
*:before,
*:after
	box-sizing border-box
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	margin 0
	padding 0
	
html  
	background url('../images/grassy-field.jpeg') no-repeat center center fixed 
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover



html
	// background url('../images/grassy-field.jpeg') fixed center center
	FiraSans-5(16px, 500, Black, -1px, left)

h1
	FiraSans-5(3rem, 700, White, -0.05em, center)	
	line-height 3rem

h2
	FiraSans-5(2.25rem, 700, Black, -0.05em, left)
	line-height 2.25rem
	
h3
	FiraSans-5(1.75rem, 400, Black, 0em, left)
	line-height 1.5rem

h4
	FiraSans-5(1.25rem, 200, Gray, 0em, left)
		
p
	FiraSans-5(1rem, 200, Black, 0.03125em, justify)
	
// a
// 	color Red
// 	font-weight 400
// 	text-decoration none
// 	&:hover,
// 	&:active
// 		text-decoration underline
// 	&:active
// 		color Dark
		
// img
// 	height auto
// 	width auto
// 	&.landscape
// 		height auto
// 		width 100%
// 	&.portrait
// 		height 100%
// 		width auto


//------------------
//- Top of the Page
//------------------
// #site-title
// 	// border-top 36px solid Black
// 	background Black
// 	// color White
// 	position fixed
// 	z-index 100
// 	top 0
// 	left 0
// 	height 36px
// 	Width-XS(12)

// .site-title
// 	Width-XS(12)
// 	Width-SM(6)
// 	padding-left 0
// 	padding-right 0
// 	h1
// 		display block
// 	.subtitle
// 		FiraSans-5(0.75rem, 200, Red, 0.14em, center)
// 		line-height 0.75rem
// 		text-transform uppercase
// 		display block
// 		left 4px
// 		padding-top 0
		
// nav
// 	Width-XS(12)
// 	Width-SM(6)
// 	background Black
// 	color White
// 	ul
// 		Width-XS(12)
// 		display table
// 	li
// 		text-align center
// 		display table-cell
// 	a
// 		FiraSans-5(1rem, 200, Light, 0.111111em, left)
// 		text-transform uppercase
// 		padding 15px	

.logo
	// Width-XS(2)
	// Offset-XS(2)
	// width 4.1666667em
	// height 4.1666667em
	height 266px
	width 200px
	background Red
	position absolute
	text-align left
	font-size 48px

	h1
		font-size 1em // Standard 48px
		line-height 0.83333em
		position absolute
		left 0.270833em
		bottom 0.6666667em
		text-align left
	.subtitle
		font-size 0.25em // Standard 12px
		position absolute
		left 1.25em
		bottom 1.25em
		color LtRed
		text-transform uppercase
		letter-spacing .1em
		text-align left

.page-header
	background transparent
	position relative
	padding 25px 30px
	margin-bottom 30px
	border-bottom 1px solid Light
	h2
		font-size 3rem

.project
	// border-top 1px solid Light
	background Light
	margin-bottom 20px
	padding 0 30px
	// margin 0 15px
	margin-bottom 20px
	Width-SM(12)
	
	ul
		list-style-type none

	&>*
		display inline-block
		vertical-align middle
	
	.title
		// background White
		// padding 12px 20px
		margin 15px 0
		Width-SM(8)
		h3
			FiraSans-5(1.125rem, 700, Black, -0.06em, left)
	.descriptors
		FiraSans-5(0.85rem, 700, Red, 0.1em, left)
		text-transform uppercase
		
		.brackets
			color Gray
			font-weight 400

	.points
		FiraSans-5(0.85rem, 500, Dark, 0.1em, left)
		// color Black
		// letter-spacing .1em
		text-transform uppercase
		.point
			margin-top 10px
		// margin-bottom 10px


	//--------------
	// Image Slider
	//--------------
	figure
		Width-SM(4)
		background Black
		overflow hidden
		height 100%
		position relative
		z-index 10
		cursor pointer
		
		img
			display block
			margin 0 auto
			&:not(a)
				:not(:first-child)
					display none
		// img:first-child:not(a)
		// 	display block !important
	
		&:hover a.image
			opacity 1
		
		a.image
			opacity 0
			position absolute
			bottom 0
			text-align center
			width 100%
			background rgba(Red,0.7)
			padding 10px
			color White
			&:hover
				text-decoration none


		&:hover .navigation
			opacity 1


.page
	margin-top 36px




//--------------------
// Bottom of the Page
//--------------------
#site-footer
	background Black
	
	&>*:first-child
		margin 0 auto

	p
		color Gray !important
		text-align center
		padding 50px 12.5%
		font-size 10px
		.updated
			margin-top 10px
			text-align center





//----------------------
//- Reusable Components
//- Should have a matching Jade Mixin
//----------------------
#social-media
	InlineChildren()
	li
		&:first-child a
			padding-left 0
		a
			color Red
			padding 0 20px
			&:hover i
				color Black
			i 
				font-size 1.75em

.skills
	list-style-type none
	.skill
		display inline-block

// Skill Mixin
Skill(backgroundColor, textColor, borderColor)
	background backgroundColor
	padding 0.1em 0.8em
	color textColor
	text-align center
	border-color borderColor
	border-radius 0.1em
	border-width 1px
	cursor default
	letter-spacing 0.05em

.skill
	Skill(transparent, White, Red)
	
.clearfix
	clear both
	
// needs Jade Mixin
.button
	FiraSans-5(1.25rem, 400, Red, auto, center)
	Width-XS(12)
	Width-SM(10)
	Width-MD(8)
	Width-LG(6)
	border 1px solid Red
	display block
	margin-top 10px
	margin-bottom 10px
	text-decoration none
	&:hover
		background Red
		color White
		text-decoration none
