//- Skill Views Header
//- version 0.7.0

extends ../layout.jade

block stylesheet
	include ../../public/stylesheets/skills.css

//- block nav 
	//- +navButton('/skills', 'Skills')
	block nav_skills

block page
	block skill_page
