//- Layout templates for each of the model representations
//- version 1.4.3

//- Projects

//- Large Project
//- 
mixin largeProject(project)
	li.project-L
		.image 
			img(src="images/profile.jpg")
		.title
			h3= project.title
			ul.skills
				//- .label SKILLS
				for s in project.skills
					+smallSkill(s)

		




//- Skills

//- Medium Skill
//-
mixin mediumSkill(skill)
	li.skill-M= (skill.title || skill || 'Skill Title')



//- Small Skill
//-
mixin smallSkill(skill)
	li.skill-S.tag= (skill.title || skill || 'Skill Title')
