//- Sidebar layout
//- version 1.4.2

mixin sidebar
	.sidebar
		header(onclick="location.href='/';")
			h1 Dillon<br> Drenzek
		.contact
			ul.contact
				li 
					.icon(class="fa fa-phone")
					.value (406) 599-8576
				li 
					.icon(class="fa fa-envelope")
					.value dillon@drenzek.com
				li 
					.icon(class="fa fa-github")
					.value dillondrenzek
				li 
					.icon(class="fa fa-linkedin-square")
					.value Dillon Drenzek
			

		ul.feature
			li
				a.feature(href="/ios") iOS Developer
			li
				a.feature(href="/web") Web Developer
			li
				a.feature(href="/art") Digital Artist
		ul.overview
			li
				a.overview(href="/skills") Skills
			li
				a.overview(href="/projects") Projects
			li
				a.overview(href="/resume") Resume

