extends ./times.jade

//- PAGE
block times_page
	h1 List Times
	h2= times.length + " times found."
	table(style="background: #333;")
		thead
			tr
				th id
				th title
		tbody
			each time in times
				tr
					td= time.id
					td= time.title