// 	// Defined Colors
// 	$orange1-l: #eb7125;
// 	$orange1-d: #ce6421;

// 	// Assigned Colors
// 	$illustrator-l: $orange1-l;
// 	$illustrator-d: $orange1-d;
// 	$ruby-l: #A42028;
// 	$ruby-d: #9B1F31;


// // COLORS
// 	// Lightest
$white-3 = #fafafa
$red = #a12005
// 	$white-2: #eeeeee;
// 	$white-1: #d8d8d8;
// 	$white-0: #bcbcbc;
// 	$gray-3: #ababab;
// 	$gray-2: #979797;
// 	$gray-1: #888686;
// 	$gray-0: #666666;
// 	$black-3: #575452;
// 	$black-2: #3D3C3C;
// 	$black-1: #353434;
// 	$black-0: #171413;
// 	// Darkest
