//- Large Screen Style Overrides
//- Version 2.2.0

h1
	font-size 4rem
	
	.subtitle
		font-size 1rem
	
nav
	ul
		text-align right
		li
			list-style-type none
			
			a
				FiraSans-5(1rem, 200, Light, 0.111111em, left)
				text-transform uppercase
				text-decoration none
				&:hover
					color Red
		
.image-slider
	.control
		.arrow
			cursor pointer
			width 10%
			opacity 0
		&:hover .arrow
			opacity 1
			
			
		