//- List Projects (Edit)
//- version 0.5.0
//- arguments:
	objects: Array - list of all the skills to display
	keys: Array - list of keys to display
	actions: Array - list of actions to include in the colspan
extends ./projects.jade

block projects_page
	h1 Edit Projects
	+edit_table(objects, keys, actions)