//- Project Views Header
//- version 0.5.0

extends ../layout.jade
include ../std/std-ui.jade

block stylesheet
	include ../../public/stylesheets/projects.css

block page
	block projects_page

//- Specialized Views