//------------------
// App-wide Styling
// version 2.2.4
//------------------



//----------------------
//- Reusable Components
//- Should have a matching Jade Mixin
//----------------------
#social-media
	InlineChildren()
	li
		&:first-child a
			padding-left 0
		a
			color Red
			padding 0 20px
			&:hover i
				color Black
			i 
				font-size 1.75em

.skills
	list-style-type none
	.skill
		display inline-block

// Skill Mixin
Skill(backgroundColor, textColor, borderColor)
	background backgroundColor
	padding 0.1em 0.8em
	color textColor
	text-align center
	border-color borderColor
	border-radius 0.1em
	border-width 1px
	cursor default
	letter-spacing 0.05em

.skill
	Skill(transparent, White, Red)
	
.clearfix
	clear both
	
// needs Jade Mixin
.button
	FiraSans-5(1.25rem, 400, Red, auto, center)
	Width-XS(12)
	Width-SM(10)
	Width-MD(8)
	Width-LG(6)
	border 1px solid Red
	display block
	margin-top 10px
	margin-bottom 10px
	text-decoration none
	&:hover
		background Red
		color White
		text-decoration none
