#rightside
	background White
	padding 15px

li.test-project
	border-top 1px solid Gray
	padding 15px 0
	p
		font-size 12px
		margin-left 15px
	
li
	margin-left 15px

li
	font-size 18px
	li
		font-size 16px
		li
			font-size 12px
	
	
	
.missing
	color Red