// The Work of Style
// v3.0

@import 'base'


// Three main columns of page
.left,
.center,
.right
	display inline-block
	vertical-align top	

.left
	Width-XS(2)
	Width-MD(3)

.center
	Width-XS(10)
	Width-MD(6)
	
.right
	Width-XS(10)
	Width-MD(3)


.page
	background White
	margin-top 36px
	&>* // Children of .page
		
	
	// Sections
	// - characterized by the top border
	section
		position relative
		padding 0 StandardPadding
		padding-bottom ThickPadding

		header
			position relative
			padding StandardPadding 0
			border-top 1px solid Gray
			&>*
				display inline-block
				vertical-align middle
			h3
				Char-SectionTitle(Black)
			a
				Char-HeaderLinks()
				float right

		// Section Types
			
		&.title // along the top of the page
			padding-bottom 0
			height 137px
			h2
				Char-PageTitle()
				position absolute
				bottom 0
				left StandardPadding
			a
				Char-HeaderLinks()
				display block
				position relative
				top 50%
				-webkit-transform translateY(-100%)
				transform translateY(-100%)
				padding-bottom StandardPadding
		
		&.featured // big picture 2/3, description 1/3
			
			// add in .skill
			.project
				Width-MD(12)
				position relative
				margin-bottom 0
				&>*
					display inline-block
				figure
					Width-MD(8)
					background transparent
					padding-right StandardPadding
				.title
					Width-MD(4)
					.primary
						Char-MediumItemPrimary()
		
		&.list-3-column // 3 columns for lists only
			Width-MD(12)
			
			.project
				Width-MD(4)
				display inline-block
				vertical-align top
				padding-right StandardPadding
				margin-right 0
				margin-bottom ThickPadding
				&:first-child
					padding-left 0
				
				&>*
					Width-MD(12)
					display block
					
				figure
					padding-bottom StandardPadding
					background none
					border-bottom 1px solid Black

				.title
					
					Width-MD(12)
					margin-top ThinPadding
					padding-bottom StandardPadding
					a
						Char-HeaderLinks()
						font-weight 700
					.primary
						Char-SmallItemPrimary()
						padding-bottom 0
					.secondary
						Char-SmallItemSecondary()
						font-weight 400
					.body
						color Black
						Char-Body()
					
					
		&.list-category
			.category
				padding-left StandardPadding
				margin-bottom StandardPadding
				&:last-child
					margin-bottom 0
				h4
					Char-SectionSubtitle()
					text-transform uppercase
				ul
					padding-left StandardPadding
				.skill
					padding-bottom (StandardPadding/2)
		


		&.list-standard
			ul
				padding-left StandardPadding
				.skill
					padding-bottom StandardPadding



.slide-indicator
	Width-MD(4)
	Char-SectionSubtitle()
	position absolute
	right 0
	bottom 0
	-webkit-transform translateY(100%)
	transform translateY(100%)
	&>*
		display inline-block	
	.arrow
		text-align center
		cursor pointer
		Width-MD(3)
	.indicator
		text-align center
		Width-MD(6)
				


li.skill
	&>*
		display inline-block
		vertical-align middle
	.title
		Char-MediumItemPrimary()
		Width-MD(10)
	.value
		Char-MediumItemValue()
		Width-MD(2)
	
.secondary
	Char-MediumItemSecondary()

.body
	Char-Body()

.selected
	color Red

// Forms

FormTransitionTime = .3s

.form-group
	Width-XS(12)
	padding 15px 0
	
form
	Offset-XS(3)
	Width-MD(9)
	position relative
	margin-top 138px
	text-align left
	
label
	FiraSans(1rem, 200, Gray, 0.25em, left)
	Width-MD(6)
	text-transform uppercase
	transition FormTransitionTime ease all

input
	font-size 30px
	transition FormTransitionTime ease all
	&:focus
		outline none
		
	&.selected
		color Red
		

		
input[type="text"],
input[type="password"]
	FiraSans(1.75rem, 200, Gray, -0.05em, left)
	background none
	border none
	border-bottom 1px solid Gray
	// FiraSans(1.75rem, 700, Black, -0.025em, left)
	
	&:focus
		color Red
		border-bottom 1px solid Red
	
	
input[type="submit"]
	background none
	border none
	text-transform uppercase
	font-size 1rem
	cursor pointer
	FiraSans(1rem, 200, Red, 0.125em, left)
	&:hover
		color Red
	&:active
		box-shadow 1px 1px 1px rgba(Black, 0.5)
		transition none
		background Red
		color White
	


